body {
margin:0;
padding:0;
}

.header{
background-image: url(../img/Foto\ banner.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.header-one{
background-image: url(../img/banner-servicios.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;


}
.header-two{
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../img/Rectángulo\ 50@2x.png);
background-color: rgba(0,0,0,0.8);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.header-three{
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../img/Rectángulo\ 337.png);
background-color: rgba(0,0,0,0.8);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
    }
  .header-for{
 background-image: url(../img/Grupo\ 608.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    }
.header-six{
  background-image: 
linear-gradient(
  rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)
),
  url(../img/blog.png);
background-color: rgba(0,0,0,0.8);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
} 

.header-seven{
background-image: 
linear-gradient(
  rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)
),
  url(../img/contacto.png);
background-color: rgba(0,0,0,0.8);
background-repeat: no-repeat;
background-size: cover;
background-position: center; 
}


.hr{
 background-color: #CCCCCC; 
 opacity: 0.5;   
 margin-left: 200px; 
 margin-right: 200px; 
}

/**fuentes*/


@font-face{
    font-family: Montserrat-medium;
    src: url(../Fuentes/montserrat/Montserrat-Medium.ttf)
  }
  
  @font-face{
    font-family: Montserrat-ligth;
    src: url(../Fuentes/montserrat/Montserrat-Light.ttf)
  } 

  @font-face{
    font-family: Montserrat-semiBold;
    src: url(../Fuentes/montserrat/Montserrat-SemiBold.ttf)
  } 
  @font-face{
    font-family: Montserrat-regular;
    src: url(../Fuentes/montserrat/Montserrat-Regular.ttf)
  } 
  @font-face{
    font-family: Montserrat-bold;
    src: url(../Fuentes/montserrat/Montserrat-Bold.ttf)
  } 

    @font-face{
    font-family: Myriadpro;
    src: url(../Fuentes/myriadpro/MYRIADPRO-REGULAR.OTF)
  } 
  @font-face {
    font-family: eurostile;
    src: url(../Fuentes/eurostile/eurostile-bold.otf);
  }
  @font-face {
    font-family: eurostile-regular;
    src: url(../Fuentes/eurostile-regular/eurostile-regular.otf);
  }
 

  .footer-menu a{
  text-decoration: none;  
  }
.container-header{
font-family: Montserrat-medium;    
padding-top: 50px;
padding-left: 200px; 
padding-right: 200px;   
display: flex;
flex-direction: row;
justify-content:space-between;

}

.container-nav-text{
display:flex;
margin-top:70px;
height: 250px;  
justify-content: center;  
font-family: Myriadpro;
font-size: 60px;
}

.container-nav-text p{
color: white;
}

.container-header-icono{
 margin-top:15px;   
}
.container-header-barra-busqueda{
margin-top:10px;
margin-right:50px; 
display: flex;
flex-direction: row;
padding-left: 38px;   
}
.container-header-barra-busqueda input{
width: 500px;    
height: 30px;
border: 1px solid #fff;
background-color: transparent;
}

.icon-buscar img{
margin-top:5px;
margin-left: 5px;
 width: 25px;   
}
.icon-buscar{
position: relative;
background-color: white;
border: solid  1px white;  
height: 32px;  
width: 40px;

}
.container-header-search-and-tel{
 display: flex;
 flex-direction: row;   
 font-family: Montserrat-medium;
}
.container-header-tel{
display:flex;
flex-direction: column; 
}
.container-header-tel-one{
display:flex;
flex-direction: row;
font-family: Montserrat-medium;
}



.container-menu{
 display: flex;
flex-direction: column;
justify-content: space-between;
}

.container-menu-two{
 display: flex;
 flex-direction: column; 
justify-content: space-between;
}
.container-header-tel-two{
display:flex;
flex-direction: row;
font-family: Montserrat-medium;
}
.container-header-tel-two select{
 font-family: Montserrat-medium;
 margin-left: 20px;
}


.container-header-tel-one img{

 width: 20px; 
 height: 20px; 
 margin-right: 5px; 
}

.container-header-tel-one p{
color:white;  
margin-bottom: 20px; 
font-size: 13px; 
margin-left: 25px;
}

.container-header-tel-two img{
    margin-right: 5px; 
    
}

.container-header-tel-two select{
    color:white;
    border: 1px solid transparent;
    background-color: transparent;
    width: 100px;
  
}

.menu-abierto{
  padding-top: 6px;
  width: 40px;
}
.menu-abierto-one{
  padding-top: 6px;
  width: 40px;
  padding-right: 10px;
}
.container-icon{
 height: 60px; 
}
.search{
  padding-top: 10px;
  width: 30px;
  height: 40px;
}
#btn-menu{
    display:none;
}

.container-menu-two{
display:flex;
margin-top: 10px;

}
.container-menu-two label{
display:none;
width: 30px;
height: 30px;
padding:10px;
}

.container-menu-two label:hover{
cursor: pointer;
background-color: black
}

.container-menu-two ul{
 list-style: none; 
 display: flex;
 flex-direction: row;
 justify-content:space-between;
 
}
.now{
  color:#E95A21; 
}
.now-n{
  color:white;

}


.container-menu-two a{
text-decoration: none;
font-family: Montserrat-medium;
letter-spacing: 0px;
}
.container-menu-two a:hover{
text-decoration: none;
color:#E95A21;
}

 /*CARRUSEL*/
 ol.carousel-indicators {
  position: absolute;
  bottom: 5px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
 
  background: transparent;
 
}

ol.carousel-indicators li {
  background: #F2F2F2;
  margin-left: .5rem;
  margin-right: .5rem;
  border:solid 1px #F2F2F2;
}

ol.carousel-indicators li.active {
  background: white;
  border:solid 1px #707070;
}
.none{
 display: none; 
}

 .carousel-control-prev-icon {
  background-image: url(../img/atrás.png) !important;

  width: 70px !important;
  height: 70px !important;
 }

 .carousel-control-next-icon {
   background-image: url(../img/proximo.png) !important;
   width: 70px !important;
  height: 70px !important;
  
 }

 .carousel-desktop{
   
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
 }

@media (max-width: 780px) {

    .container-menu-two ul{
        list-style: none; 
        display: flex;
        flex-direction: row;
        margin-left: 54px;  
        font-size: 10px;
       }
       .container-menu-two li{
        padding: 5px;
       }
       .container-menu-two label{
    margin-left: 140px;   
       }


   


}


.container-visita{
display: flex;
flex-direction: column;
padding-left: 200px; 
padding-right: 200px;   
margin-top:100px;
margin-bottom: 100px;
}



.container-visita li{
list-style: none;
 color:white;
 font-size: 50px; 
 font-family: Montserrat-ligth;
}

.tittle{
    font-family: Montserrat-semiBold;
    font-weight: 900;
}



.img-cuadros{
display: flex;
flex-direction: row;  
margin-bottom: 50px; 
font-family: Montserrat-ligth; 
}

.img-cuadros img{
width:15px;
padding:10px
}


.button-open button{
width: 150px;
height: 40px;
color:white;
background-color: #E95A21;
border:solid 1px #E95A21;
font-family: Montserrat-ligth;
font-size: 20px;
}

.button-open{
margin-top: 50px;
display: flex;
margin-bottom: 100px !important;    
}
.img-quero{
margin-top:5px;
margin-bottom: 5px;
}

.header-responsive-two{
  height: 60px;
  display:flex;
  background-color:white ;
  flex-direction: row; 
  padding-left: 0px;
  padding-right: 0px;
  justify-content: space-between;
}
.header-responsive{
display:none;
padding-left: 0px;
padding-right: 0px;
}

.options-responsive ul{
color:#2E4356;
list-style: none;
font-family: Montserrat-bold;
text-decoration: none;
}

.list-responsive li{
margin-top: 20px;  
padding-left: 20px;
}

.idioma-responsive{
 display: flex; 
 justify-content: space-between;
}

.idioma-responsive select{
background-color:#F2F2F2; 
border: #F2F2F2;
margin-right: 10px;
}
 .options-responsive a{
  color:#2E4356;
 text-decoration: none;  
 }
 .options-responsive{
   
  position: absolute;
   display:none;
   width: 280px;
   height: 500px;
   background-color: #F2F2F2;
   box-shadow: 5px 5px 5px ;
 }
 .container-icon{
  display:flex;
  justify-content: flex-end; 
  background-color:#E95A21;
 }
 .list-responsive{
 text-decoration: none;
 }

/*mediaquerys banner*/


@media screen and (min-width: 300px) and (max-width: 580px){

.container-fabricantes-img{
margin-top: 40px;
padding-bottom: 40px;
}
  ol.carousel-indicators {
margin-top:50px  }

.container-res-one{
align-items: center;  
}
.container-info li{
 margin-left: 20px; 
}
.container-info-text{
  margin-top: 10px;
}

  .header-responsive{
    display:block; 
    background-color:white ;
    flex-direction: column; 
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    }
  .container-header{
    display: none;
  }


    .container-header{

        padding-left: 10px; 
        padding-right: 10px;   
     
        }
    .container-header-barra-busqueda input{
         width: 100px;    
      
            }        
    .container-header-search-and-tel{
        
        flex-direction: column;   
       
    }

    .container-header-icono img{
     width: 100px;   
    }
    .container-header-tel{
        margin-left: 35px;
    }
    .btn-menu{
      margin-left: 100px;  
    }


    .container-visita{
        display: flex;
        flex-direction: column;
        padding-left: 10px; 
    
        }
   

    .img-cuadros{
    display: flex;
    flex-direction: row;  
    margin-bottom: 50px; 
    justify-content: center;
    margin-left: 170px;
    }
    .container-visita li{
    margin-left:50px;
    font-size: 30px; 
   
        }

    .button-open{
   justify-content: center;
   margin-left: 170px;
    }
}

@media screen and (min-width: 580px) and (max-width: 650px){

  .header-responsive{
    display:block; 
    background-color:white ;
    flex-direction: column; 
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    }
  .container-header{
    display: none;
  }
}
@media screen and (min-width: 580px) and (max-width: 780px){
    .container-header{
        padding-left: 50px; 
        padding-right: 50px;   
     
        }
    .container-header-barra-busqueda input{
         width: 100px;    
            }        
    .container-header-search-and-tel{
        
        flex-direction: row;   
       
    }

    .container-header-icono img{
     width: 150px;   
    }
   
    .btn-menu{
      margin-left: 100px;  
    }


    .container-visita{
        display: flex;
        flex-direction: column;
        padding-left: 10px; 
    
        }
   

    .img-cuadros{
    display: flex;
    flex-direction: row;  
    margin-bottom: 50px; 
    justify-content: center;
    margin-left: 170px;
    }
    .container-visita li{
    margin-left:50px;
    font-size: 30px; 
   
    }

    .button-open{
   justify-content: center;
   margin-left: 170px;
    }

    .container-header-tel-two select{
 margin-left: 10px;
}
       

       
 .container-header-tel-one p{
     
font-size: 10px; 
     
       }
}
@media screen and (min-width: 780px) and (max-width: 1300px){
    .container-header{
        padding-left: 50px; 
        padding-right: 50px;   
     
        }
    .container-header-barra-busqueda input{
         width: 200px;    
            }        
    .container-header-search-and-tel{
        
        flex-direction: row;   
       
    }
    .menu-list li{
     font-size: 10px;   
    }

    .container-header-icono img{
     width: 150px;   
    }
   
    .btn-menu{
      margin-left: 100px;  
    }
    .container-visita{
        display: flex;
        flex-direction: column;
        padding-left: 50px; 
        
        margin-top:100px;
        margin-bottom: 100px;
        }
        

    .img-cuadros{
        display: flex;
        flex-direction: row;  
        
        
        }
        
        .img-cuadros img{
        width:15px;
        padding:10px
        }
        
        
        .button-open button{
        width: 150px;
        height: 40px;
        color:white;
        background-color: #E95A21;
        border:solid 1px #E95A21;
        font-family: Montserrat-ligth;
        font-size: 20px;
        }

    .button-open{
   justify-content: center;
   margin-left: 170px;
    }

    .container-header-tel-two select{
        
        margin-left: 10px;
       }
       

       
       .container-header-tel-one p{
     
      
       font-size: 10px; 
     
       }
}

.container-info{
display: flex;
flex-direction:column;
align-items: center;
margin-bottom: 100px;
}
.years{
color:#E95A21;
}
.text-infoo{
color:#5F5C5B;
}
.container-info li{
list-style: none;
font-size: 20px;
font-family: Montserrat-medium;

}

.container-info p{
  font-size: 20px;
  font-family: Montserrat-medium;
  color:#5F5C5B;
  margin-block-end: 0px;
}
.container-info-two{
display:flex;
flex-direction: column;
padding-left: 300px; 
padding-right: 300px; 
}

.container-info-two-info{
display:flex;
flex-direction: row; 
justify-content: space-between;   
margin-bottom: 100px;
}

.container-info-text{
width: 450px;
display:flex;
flex-direction: row;  
justify-content: space-between;
font-size: 20px;
font-family: Montserrat-medium; 
}
.container-info-text img{

}

.tittle-info{
padding-left: 10px;
color:#5F5C5B;
font-family: Montserrat-semiBold;
}
.text-infoo{
padding-left: 10px;
color:#5F5C5B;
font-family:Montserrat-medium;
font-size: 17px !important;
letter-spacing: 0px;
color: #5F5C5B;
opacity: 1;
}

.container-info-text-two{
    display:flex;
    flex-direction: column;  
    list-style: none;
}

.img-industria{
  margin-top:30px;
  width: 69px;
  height: 70px;
}
.img-comercializadora{
  margin-top:10px;
margin-left: 20px;
width: 50px;  
height: 93px;
}
.img-reparacion{
width: 70px;
height: 70px; 
margin-top:30px; 
}
.img-ingenieria{
 margin-top:50px;
width: 70px;
height: 80px;
}

.img-intercambio{
  width: 70px;
  height: 80px;
  margin-top:30px;
}
.img-venta{
 
  margin-top:30px;
  width: 63px;
  height: 67px;
}
.ali{
  margin-top: 50px; 
  margin-bottom: 50px;
  }




@media screen and (min-width: 300px) and (max-width: 580px){
  .container-info p{
   margin-left: 20px;
  }

  .img-comercializadora{
    margin-left: 0px;
   
    }

  .text-infoo{
    margin-left: 10px;
    font-size: 20px;
  }

.container-info-two{
display:flex;
flex-direction: column;
padding-left: 5px; 
padding-right: 5px; 
}
.container-aliados-tittle p {
font-family: eurostile;
color:#2E4356;
margin-left: 30px;
font-size: 10px;
letter-spacing: 0px;
opacity: 1;
}

.electronic p{
font-size: 18px;
width: 300px;    
}

.fenie p{
font-size: 18px;
width: 300px;      
}

 .container-info-two-info{
display:flex;
flex-direction: column; 
justify-content: space-between;   
   
}
.tittle-info{
 margin-top:20px;
 margin-bottom: 20px; 
}

.container-info-text{
margin-left: 20px;
width: 300px;
margin-top:50px;
flex-direction: column;  
align-items: center;


}
.container-info-text-two{

  align-items: center;
}

.container-info-text img{
 width: 60px;
height: 100px;
}

}
@media screen and (min-width: 580px) and (max-width: 790px){
.container-info-two{
display:flex;
flex-direction: column;
padding-left: 10px; 
padding-right: 10px; 
}

 .container-info-two-info{
display:flex;
flex-direction: row; 
justify-content: space-between;   
   
    }
 .container-info-text{
width: 350px;
margin-top:100px;
flex-direction: column;  
justify-content: space-between;
}
.container-info-text img{
margin-top:40px;
}
.text-infoo{
color:#5F5C5B;
font-family:Montserrat-medium;

}



        }
@media screen and (min-width: 790px) and (max-width: 970px){
.container-info-two{
display:flex;
flex-direction: column;
padding-left: 10px; 
padding-right: 10px; 

 }
 .container-info-two-info{
display:flex;
flex-direction: row; 
justify-content: space-between;   
   
    }
 .container-info-text{
width: 350px;
margin-top:100px;
flex-direction: row;  
justify-content: space-between;

}
.container-info-text img{

margin-top:40px;
}

}

@media screen and (min-width: 580px) and (max-width: 790px){
.container-info-two{
display:flex;
flex-direction: column;
padding-left: 10px; 
padding-right: 10px; 

 }
 .container-info-two-info{
display:flex;
flex-direction: row; 
justify-content: space-between;   
   
    }
 .container-info-text{
width: 350px;
margin-top:100px;
flex-direction: row;  
justify-content: space-between;

}
.container-info-text img{

margin-top:40px;
}

        }
@media screen and (min-width: 970px) and (max-width: 1500px){
.carousel-desktop{
padding-left: 10px; 
padding-right: 10px; 
 
}
.container-info-two{
display:flex;
flex-direction: column;
padding-left: 50px; 
padding-right: 50px; 

 }
 .container-info-two-info{
display:flex;
flex-direction: row; 
justify-content: space-between;   
   
    }
 .container-info-text{
width: 350px;
margin-top:100px;
flex-direction: row;  
justify-content: space-between;


}
.container-info-text img{

margin-top:40px;
}



 }
 @media screen and (min-width: 1100px) and (max-width: 1200px){
   .barra{
     height: 180px;
   }
  .container-info-two{
  display:flex;
  flex-direction: column;
  padding-left: 80px; 
  padding-right: 80px; 
  
   }
   .container-info-two-info{
  display:flex;
  flex-direction: row; 
  justify-content: space-between;   
     
      }
   .container-info-text{
  width: 350px;
  margin-top:100px;
  flex-direction: row;  
  justify-content: space-between;

  
  }
  .container-info-text img{
  
  margin-top:40px;
  }
  
  
  
   }
   @media screen and (min-width: 1200px) and (max-width: 1500px){
    .barra{
      height: 180px;
    }
    .container-info-two{
    display:flex;
    flex-direction: column;
    padding-left: 150px; 
    padding-right: 150px; 
    
     }
     .container-info-two-info{
    display:flex;
    flex-direction: row; 
    justify-content: space-between;   
       
        }
     .container-info-text{
    width: 350px;
    margin-top:100px;
    flex-direction: row;  
    justify-content: space-between;
    font-size: 15px;
    
    }
    .container-info-text img{
    
    margin-top:40px;
    }
    
    
    
     }

 /*aliados*/

 .container-aliados{
display:flex;
flex-direction: column;
background-color: #F2F2F2;

 }

 .aliados-one{
display:flex;
 flex-direction: column;
justify-content: space-between;

 }
 
 .strong-orange{
color:#E95A21;
 }

 .container-aliados-one{
padding-left: 250px;  
padding-right: 250px;   
display:flex;
flex-direction: row; 
justify-content:space-between;
padding-bottom: 50px;

   }

.container-aliados-tittle{
margin-top:20px;
display:flex;
flex-direction: column;
align-items: center;    
}
 .container-aliados-tittle p{
  font-family: eurostile-regular;
color:#2E4356;
font-size: 58px;
 }

.electronic{
display:flex;
flex-direction: column;
}



.electronic-hover{
  background-image: url(../img/Grupo\ 598-h.png);
 width:380px;  
 height: 200px;
 background-repeat: no-repeat; 
}
.electronic-hover:hover{
  cursor: pointer;
  background-image: url(../img/Grupo\ 598-1\ \(1\).png);
 width:380px;  
 height: 200px; 
 background-repeat: no-repeat;
}
.fenie-hover{

background-image: url(../img/logo-en-hover.png);
width:330px;  
 height: 200px; 
 background-repeat: no-repeat;
}
.fenie-hover:hover{
  cursor: pointer;
background-image: url(../img/logo-en.png);
width:330px;  
height: 200px; 
background-repeat: no-repeat;
}

.electronic p{

font-family: Montserrat-regular;
color:#5F5C5B;
}

.fenie{
display:flex;
flex-direction: column;   
 }
.fenie p{
font-family: Montserrat-regular;
color:#5F5C5B;
}



@media screen and (min-width: 300px) and (max-width: 580px){
  .electronic-hover{
    width: 338px;
    height: 200px;
    background-image: url(../img/Grupo\ 598-responsive.png);
    cursor: pointer;

  }
  .electronic-hover:hover{
    width: 338px;
    height: 200px;
    cursor: pointer;
    background-image: url(../img/Grupo\ 598-1-responsi.png);

  }
  .container-aliados{
display:flex;
flex-direction: column;
}

 .aliados-one{

 flex-direction: column;
padding-left:20px;
padding-right: 10px;

 }

 .container-aliados-tittle p{
margin-top:20px;
display:flex;
flex-direction: column;
align-items: center;   
font-size: 30px; 
 }


.electronic{
display:flex;
flex-direction: column;


}

.electronic img{
 width:300px;   
}

.container-aliados-one{
padding-left: 0px;  
padding-right: 0px;  
padding-bottom: 20px;
flex-direction: column;
align-items: center;
}

.electronic p{
font-size: 17px;
width: 300px;
}
.fenie p{
font-size: 16px;
width: 300px;
}
.container-fabricantes-img{
  align-items: center;
}



}
@media screen and (min-width: 580px) and (max-width: 1000px){


}
@media screen and (min-width: 580px) and (max-width: 750px){
  .electronic-hover{
    width: 338px;
    height: 200px;
    background-image: url(../img/Grupo\ 598-responsive.png);
    cursor: pointer;

  }
  .electronic-hover:hover{
    width: 338px;
    height: 200px;
    cursor: pointer;
    background-image: url(../img/Grupo\ 598-1-responsi.png);

  }
    .container-aliados{
  display:flex;
  flex-direction: column;
  }
  
   .aliados-one{
  
   flex-direction: row;
  padding-left:20px;
  padding-right: 10px;
  
   }
  
   .container-aliados-tittle{

  margin-top:20px;
  display:flex;
  flex-direction: column;
  align-items: center;    
   }

  
  .electronic{
  display:flex;
  flex-direction: column;
  
  
  }
  
  .electronic img{
   width:300px;   
  }
  
  .container-aliados-one{
  padding-left: 100px;  
  padding-right: 90px;
  flex-direction: column;
  }
  
  .electronic p{
  font-size: 17px;
  width: 300px;
  }
  .fenie p{
  font-size: 16px;
  width: 300px;
  }
  .fenie img{
  width:250px;
  height: 180px;      
  }
  
  
  
  }
 @media screen and (min-width: 750px) and (max-width: 920px){
    .container-aliados{
  display:flex;
  flex-direction: column;

  }
  
   .aliados-one{
  
   flex-direction: row;
 
 
  
   }
   
  
   .container-aliados-tittle{
  margin-top:20px;
  display:flex;
  flex-direction: column;
  align-items: center;    
   }
 
  
  .electronic{
  display:flex;
  flex-direction: column;
  margin-right: 90px;
  
  }
  
  .electronic img{
   width:300px;   
  }
  
  .container-aliados-one{
  
padding-right: 10px;
flex-direction: column;
justify-content:center;
 
  }
  
  .electronic p{
  font-size: 17px;
  width: 300px;
  }
  .fenie p{
  font-size: 16px;
  width: 300px;
  }

  
  
  
  } 
  @media screen and (min-width: 920px) and (max-width: 1200px){
.container-aliados-one{
  padding-left: 10px;
  padding-right: 10px;
}


  }
  @media screen and (min-width: 1200px) and (max-width: 1500px){
 
    .container-aliados-one{
      padding-left: 80px;
      padding-right: 80px;
    }
 
    .container-info-text img{
      margin-top: 20px;
    }
      }
      @media screen and (min-width: 1500px) and (max-width:1700px){
        .container-info-two{
          padding-left: 200px;
          padding-right: 200px;
        }
     
        .container-info-text img{
          margin-top: 20px;
        }
          }




/*FABRICANTES*/
#fabtwo{
 display:none; 
}
#fabthree{
 display: none; 
}
.container-fabricantes{
display:flex;
flex-direction: column;
margin-bottom: 100px;
}

.fabicantes-responsive{
  display:none
}

.container-fabricantes-tittle{
display: flex;
align-items: center;    
}

.container-fabricantes-img{
display:flex;
flex-direction: row;
justify-content: center;
      
}

.container-fabricantes-img img{
 width: 50px;  
 margin-top:70px; 

}



.fabricantes-carrousel{
display: flex;
flex-direction: row;
padding:10px;

}
.carrousel-one{

width: 280px;
height: 200px;
background-image: url(/img/Grupo\ 580.png);
}

.button-carrousel button{
width: 150px;
height: 40px;
color:white;
background-color: #E95A21;
border:solid 1px #E95A21;
font-family: Montserrat-ligth;
font-size: 20px;
}

.button-carrousel{
margin-top: 30%;
display: flex;
margin-bottom: 100px !important; 
margin-left: 60px; 
font-family: Montserrat-ligth;
}

.catalogo-text-tittle{
 padding-left: 20px;
 padding-right: 20px;   
}

@media screen and (min-width: 300px) and (max-width: 580px){
.fabricantes-desktop{
display:none;
}
.fabicantes-responsive{
display: block;  
}
.container-fabricantes-img{
padding-left:50px;
flex-direction: column;
justify-content: center;
       
}
}
@media screen and (min-width: 580px) and (max-width:790px){

.carrousel-one{
width: 180px;
height: 200px;

}
.button-carrousel{
margin-top: 40%;
margin-left: 20px; 

}
}
@media screen and (min-width: 790px) and (max-width:1023px){



.carrousel-one{
width: 180px;
height: 200px;

}
.button-carrousel{
margin-top: 40%;
margin-left: 15px; 

}

}

 


/*catalogo*/
.container-catalogo{
padding-top: 70px;
display: flex;
flex-direction: row; 
padding-bottom: 50px; 
justify-content: space-between; 
background-color:#E95A21 ; 
padding-left: 200px;
padding-right: 200px;
}

.catalogo-img img{
margin-top:40px; 
width: 300px;  
height: 190px;
margin-left: 20px; 
}

.cat-tittle{
color:white;
font-family: Montserrat-medium;
font-size: 35px;

}
.cat-text{
font-family: Montserrat-regular;
color:white;
font-size: 20px;
} 
.button-download{
display: flex;  

}
.button-download button{
width: 200px;
height: 60px;
color:white;
background-color: #E95A21;
border:solid 1px white;
font-family: Montserrat-ligth;
font-size: 20px;
}
.button-download button:hover{
  box-shadow: inset 340px 0 0 0 #2E4356;
border:#2E4356;
transition: 0.8s;
}



.button-download{
margin-top: 100px;
display: flex;
margin-bottom: 100px !important; 
font-family: Montserrat-ligth;
}
    
@media screen and (min-width: 300px) and (max-width: 580px){

.container-catalogo{
flex-direction: column; 
padding-bottom: 50px; 
background-color:#E95A21 ; 
padding-left: 10px;
padding-right: 10px;
}
.cat-tittle{
color:white;
font-family: Montserrat-medium;
font-size: 35px;
margin-top:100px;

}
.button-download{

margin-top: 100px;
}




}
@media screen and (min-width: 580px) and (max-width: 790px){

.container-catalogo{
align-items: center;
flex-direction: column; 
padding-bottom: 50px; 
justify-content: space-between; 
background-color:#E95A21 ; 
padding-left: 120px;
padding-right: 120px;
}
.cat-tittle{
color:white;
font-family: Montserrat-medium;
font-size: 35px;
margin-top:100px;

}
.button-download{
margin-top: 100px;
}
    
}
@media screen and (min-width: 790px) and (max-width: 920px){

.container-catalogo{
align-items: center;
flex-direction: column; 
padding-bottom: 50px; 
justify-content: space-between; 
background-color:#E95A21 ; 
padding-left: 150px;
padding-right: 150px;
}
.cat-tittle{
color:white;
font-family: Montserrat-medium;
font-size: 35px;
margin-top:100px;

}
.button-download{
margin-top: 100px;
}
    



}

@media screen and (min-width: 920px) and (max-width: 1100px){
  .container-catalogo{
    padding-bottom: 20px; 
    flex-direction: column; 
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    }

    .button-download{
      margin-top: 60px;
      }

}
@media screen and (min-width:1100px) and (max-width: 1200px){

    .button-download{
      margin-top: 150px;
      }

}


@media screen and (min-width: 920px) and (max-width: 1200px){

  .container-catalogo{
    padding-right: 20px;
    padding-left: 20px;
  }

}

@media screen and (min-width: 1200px) and (max-width: 1300px){

  .container-catalogo{
    padding-top:0px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  .button-download{
    margin-top: 150px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1500px){

  .button-download{
    margin-top: 150px;
    }

  .catalogo-img img{
    margin-top: 60px;
  }
  .container-catalogo{
    padding-right: 60px;
    padding-left: 60px;
  }

}
@media screen and (min-width: 1300px) and (max-width: 1500px){

  .button-download{
    margin-top: 150px;
    }
  }
  @media screen and (min-width: 1500px) and (max-width: 1600px){

    .button-download{
      margin-top: 200px;
      }
    }


@media screen and (min-width: 920px) and (max-width: 1600px){
 
  .container-catalogo{
    padding-top:0px;
    padding-left: 60px;
    padding-right: 60px;
  }


.cat-tittle{
color:white;
font-family: Montserrat-medium;
font-size: 35px;
margin-top:100px;

}

.catalogo-img{
margin-right: 50px;
 margin-top:50px;   
}
    
}



.ventana {
  width: 100% !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ventana-one {
  width: 400px;
  border-radius: 5px;
  background-color: white;
  padding-left: 30px;
  padding-top: 30px;
  min-height: 250px;
  left: 37%;
  top: 35%;
  box-shadow: 5px #000000cc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #939393;
  font-family: Montserrat-ligth;
  padding-right: 30px;
}


.ventana-one img {
  width: 50px;
}



/**footer*/
.menu-one a{
 text-decoration: none; 
}

.menu-one a:hover{
  text-decoration: none; 
 }
.footer{
display:flex;
flex-direction: row;
justify-content: space-between;
margin-top:80px;
margin-left: 200px;
margin-right: 200px;
margin-bottom:80px;
}


.footer-logo{
 display:flex;
 flex-direction: column; 
 font-family: Montserrat-medium;
 color:#2E4356; 
 width: 25%;  
 font-size: 7px;
}

.img-footer-one{
width: 180px;    
}
.footer-two{
display: flex;
  
}
.footer-two img{
padding-top: 5px;  
padding-right: 5px;
padding-bottom: 5px;
}
.footer-menu{
margin-top:10px;
margin-bottom: 10;
list-style: none;  
text-decoration: none;  
display:flex;
flex-direction: row; 
 
}
.footer-menu a{
  text-decoration: none; 
}

.no-dec{
  text-decoration: none; 
}
a{
  text-decoration: none;
}
.footer-logo p{
text-decoration: none;
color:#2E4356;   
}
.menu-two a{
text-decoration: none;  
}
.menu-one a{
  text-decoration: none;  
  }
  .menu-one a:hover{
    text-decoration: none;  
    }
.footer-black{
color:#2E4356;   
}
.footer-orange{
color:#E95A21 ; 
}
.footer-menu li{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 30px;
font-family: Montserrat-medium;  
text-decoration: none;
}
.footer-menu li:hover{
 cursor: pointer;
 color:#E95A21;   
 text-decoration: none;
}
.menu-one ul{
  text-decoration: none;
}

.footer-tel{
list-style: none;    
display:flex;
flex-direction: column; 
font-family: Montserrat-medium;  
 color:#2E4356;  
}

.f-tel{
margin-top:20px;
font-family: Montserrat-bold;   
}

.p-tel{
 margin-top:40px;   
}

.barra{
 width: 50px;   
}

.container-info-responsive{
display:none;  
}
.container-res-one{
display:flex;
flex-direction: column;  
}
.container-res-two{
  display:none;
  flex-direction: column;  
  }

.carousel-responsive{
display: none;
 padding-left: 10px;
 padding-right: 10px; 
}
.none{
display: none;  
}

  @media screen and (min-width: 300px) and (max-width: 800px){
    .carrousel-one{
     width: 280px; 
    }
    .carousel-control-prev-icon{
     display: none; 
    }
    .carousel-desktop{
     display: none; 
    }
    .carousel-responsive{
      display:block;
  margin-bottom: 30px;
     }
  }
@media screen and (min-width: 300px) and (max-width: 580px){

.container-info-responsive{
  display:block;  
  }
.container-info-two{
  display:none;  
  }

.footer{
display:flex;
flex-direction: column;
justify-content: space-between;
margin-top:80px;
margin-left: 30px;
margin-right: 0px;
margin-bottom:80px;
}
.barra{
 width: 0px;   
}

.footer-tel{
border-top: 3px solid #E95A21; 
margin-right: 20px;   
}
.footer-logo p {
width: 280px;
 font-size: 10px;
}
.footer-logo {
margin-bottom: 30px;    
}
.footer-tel{
font-size: 12px;    
}

.footer-tel p{
  margin-top:10px;  
  }

}
@media screen and (min-width: 580px) and (max-width: 790px){
  .carousel-desktop{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
   }
.footer{
display:flex;
flex-direction: column;
justify-content: space-between;
margin-top:100px;
margin-left: 150px;
margin-right: 80px;
margin-bottom:80px;
}
.barra{
 width: 0px;   
}

.footer-tel{
border-top: 3px solid #E95A21;    
}
.footer-logo p {
    width: 350px;
 font-size: 10px;
}
.footer-logo {
margin-bottom: 30px;  

}

.footer-tel p{
  margin-top:10px;  
  }

}
@media screen and (min-width: 790px) and (max-width: 890px){
  .carousel-desktop{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
   }
  .footer{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top:100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom:80px;
  align-items: center;
  }

}
@media screen and (min-width: 890px) and (max-width: 1100px){
  .carousel-desktop{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

}

  @media screen and (min-width: 1100px) and (max-width: 1200px){
    .footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:80px;
    align-items: center;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1500px){
    .footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom:80px;
    align-items: center;
    }
  }

.prev-img{
width: 100px;  
}
.next-img{
  width: 100px;  
  }




 



  


 
 