@font-face {
  font-family: Montserrat-medium;
  src: url(../Fuentes/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-ligth;
  src: url(../Fuentes/montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-semiBold;
  src: url(../Fuentes/montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-regular;
  src: url(../Fuentes/montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-bold;
  src: url(../Fuentes/montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Myriadpro;
  src: url(../Fuentes/myriadpro/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: eurostile;
  src: url(../Fuentes/eurostile/eurostile-bold.otf);
}
  @font-face {
    font-family: eurostile-regular;
    src: url(../Fuentes/eurostile-regular/eurostile-regular.otf);
  }
  @font-face {
    font-family: eurostile-bold;
    src: url(../Fuentes/eurostile-bold/EUROSTIB.ttf);
  }

.intercambio-p{
 font-family: Montserrat-bold; 
 font-size: 25px;
 color:#5F5C5B;
}

.hr-emp {
  color: #cccccc;
  border: 0.5px solid #cccccc;
  opacity: 1;
  margin-left: 170px;
  margin-right:170px;
}
.container-empresa-one {
  padding-left: 200px;
  padding-right: 200px;

}

.container-empresa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-empresa-img{
padding:70px;
}

.container-empresa-somos {
  display: flex;
  flex-direction: column;
  width: 46%;
}
.container-empresa-somos h3 {
  font-family: eurostile-bold;
  font-size: 50px;
  letter-spacing: 0px;
color: #2E4356;
opacity: 1;

}

.container-empresa-somos p {
  font-family: Montserrat-regular;
  color: #5f5c5b;
}

.empresa-img {
  width: 400px;
  height: 100%;
  background-color: #f2f2f2;
  margin-right: 100px;
  display: flex;
  justify-content: center;
}
.empresa-img p {
  font-family: Montserrat-regular;
  margin-top: 60%;
  color: #5f5c5b;
}

.empr-world {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 50px;
}

.empr-world-text {
  
  display: flex;
  flex-direction: column;
}
.text-emp-world{
font-family: Montserrat-bold;
}
.empr-world-text h3 {
  margin-block-end:0px;
  font-family: eurostile-bold;
  font-size: 31px;
  color: #2e4356;
  margin-bottom: 20px;
}
.intercambio-p{
  font-family: Montserrat-bold; 
  font-size: 25px;
  color:#5F5C5B;
 }
.empr-world-text p {
  letter-spacing: 0px;
  width: 500px;
  font-family: Montserrat-medium;
  color: #5f5c5b;
}

.dep-tec{
font-size: 31px;
font-family: eurostile-bold;
color: #5f5c5b;   
}

.empr-world-img img {
  margin-top: 100px;
}

.empr-world-img {
 
 flex-direction: column; 

}
.empr-world-img h3{
  font-size: 31px;
  font-family: eurostile-bold;
  color: #5f5c5b;
 
 }

.empr-world-img-two {
  display: flex;
  flex-direction: column;
}
.empr-world-img-two h3 {
  font-family: Montserrat-regular;
  color: #5f5c5b;
  font-size: 30px;
}

.logos {
  display: flex;
  flex-direction: row;
}

.iso {
  margin-top: 30px;
  margin-left: 30px;
  width: 150px;
  height: 50px;
}

ul {
  list-style: none;
  font-family: Montserrat-regular;
  color: #5f5c5b;
  padding:0px;
}
ul li {
  padding-bottom: 20px;
 
}
ul img {
  width: 10px;
  margin-right: 10px;
}

.container-info-empr {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: space-between;
}

.strong-negrilla {
  font-family: Montserrat-bold;
}

.info-emp-one {
  display: flex;
  flex-direction: column;
}

.info-emp-two {
  display: flex;
  flex-direction: column;
}
.button-empresa button {
  width: 150px;
  height: 40px;
  color: #e95a21;
  background-color: white;
  border: solid 1px #e95a21;
  font-family: Montserrat-ligth;
  font-size: 15px;
}

.button-send-one button{
  margin-top: 10px;
  width: 150px;
  height: 40px;
  font-family: Montserrat-ligth;
  font-size: 15px;
  background-color:  #e95a21;
  border:#e95a21;
  color:white;
}
.button-empresa button:hover{
  box-shadow: inset 340px 0 0 0 #e95a21;
  border:#e95a21;
  color:white;
  transition: 0.8s;
}

.button-adj button:hover{
  box-shadow: inset 340px 0 0 0 #e95a21;
  border:#e95a21;
  color:white;
  transition: 0.8s;
}

.button-partner button:hover{
  box-shadow: inset 340px 0 0 0 #e95a21;
  border:#e95a21;
  color:white;
  transition: 0.8s;
}


.button-adj{
 justify-content: center;
 display:flex;
 margin-bottom: 100px;
}
.button-adj button {
  width: 150px;
  height: 40px;
  color: #e95a21;
  background-color: white;
  border: solid 1px #e95a21;
  font-family: Montserrat-ligth;
  font-size: 15px;
}

.button-partner button {
    width: 240px;
    height: 40px;
    color: #e95a21;
    background-color: white;
    border: solid 1px #e95a21;
    font-family: Montserrat-ligth;
    font-size: 15px;
  }


.margin {
  font-family: Montserrat-regular;
  margin-right: 80px;
}

.margin-two {
  margin-right: 36px;
}
.valor {
  background-color: #f2f2f2;
}
.container-valor {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-valor-tittle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-valor-tittle h3 {
  font-family: eurostile-bold;
  font-size: 34px;
  color: #2e4356;
  margin-block-end: 0px;
}
.container-valor-tittle p {
  font-family: Montserrat-bold;
  font-size: 18px;
  color: #707070;
}

.container-valor-text {
  border-left: solid 1px f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: Montserrat-regular;
}
.container-valor-text p {
  width: 500px;
  font-family: Montserrat-regular;
  color: #5f5c5b;
}

/*staff*/

.staff {
  display: flex;
  flex-direction: column;
}

.staff {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}

.staff h3 {
  color: #5f5c5b;
  font-family: Myriadpro;
  font-size: 35px;
  letter-spacing: 3.1px;
  padding-bottom: 50px;
}

.displayresponsive{
display:none;  
}

.staff-flag {
  display: flex;
  flex-direction: row;
}

.staff-flag img {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.li-name {
  list-style: none;
  color: #e95a21;
  font-family: Montserrat-bold;
  font-size: 20px;
}

.li-text {
  color: #5f5c5b;
  list-style: none;
  font-family: Montserrat-regular;
}

.container-staff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.staff-one {
  display: flex;
  flex-direction: column;
}

.staff-two{
  display: none;
  flex-direction: column;
}
.staff-three{
  display: none;
  flex-direction: column;
}
.staff-im {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staff-image {
  border: solid 1px #5f5c5b;
  border-radius: 100%;
}

.staff-image {
  border-color: #cccccc;
  width: 250px;
}
.staff-text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-text p {
  margin-block-end: 0px;
}

.img-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-circle img {
  margin-top: 50px;
  padding: 10px;
}

.staff-flag {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*margin-service*/
.margin-service{
margin-top:35px;  
margin-right: 300px; 
}


/*VIDEO*/

.iframe-one{
width: 80% !important; 
height: 600px;  
}
.iframe-two{
    width: 600px;
    
    }

.container-garantia{
display:flex;
flex-direction: row;
justify-content: space-between;
}

.jc-one{
 width: 80px;  
 height: 80px; 
 margin-right: 70px;
 margin-top: 20px;
}

.container-install{
display: flex;
flex-direction: row;
padding-left: 200px;
padding-right: 200px;
justify-content: space-between;
padding-bottom: 100px;
}

.install{
display:flex;
flex-direction: column;    
}
.install-two{
display:flex;
flex-direction: column;

}
.install p{
color: #5F5C5B;
font-family: Montserrat-medium;
}

.install-two li{
color: #5F5C5B;
list-style: none;
font-family: Montserrat-medium;
padding:5px;    
}

.install-two-container{
display:flex;
flex-direction: row;  
justify-content: space-between;
}
.install-two-container-one{
display:flex;
flex-direction: column;  
}
.install-two-container-one img{
 width: 47px;
 height: 32px; 
}
.ml{
 margin-left: 50px; 
}
.install-two-container-two{
 display:flex;
flex-direction: column;  
 }

 .container-install h3{
color:#5F5C5B;
font-family: eurostile-bold;
font-size: 31px; 
 }

 /*energy*/


.container-energy{
display: flex;
flex-direction: row; 
padding-left: 250px;
padding-right: 250px;
justify-content: space-between;


}
.energy-one{
display: flex;
flex-direction: column; 
margin-top:170px;
}

.energy-one h3{
font-family: Montserrat-medium;
color:#5F5C5B;
font-size: 31px;
margin-block-end: 0em;
}

.energy-one p{
font-family: Montserrat-medium;
color:#5F5C5B;
font-size: 16px;

}
.energy-two{
display: flex;
flex-direction: column;   
}
.energy-two h3{
font-family: Montserrat-medium;
color:#5F5C5B;
font-size: 31px;
margin-block-end: 0em;
}

.energy-two p{
font-family: Montserrat-medium;
color:#5F5C5B;
font-size: 16px;

}
.img-energy-one{
margin-bottom: 100px;
}

.img-energy-two{
 width:100px;   
}


/*send*/

.container-send{
    display: flex;
    flex-direction: row; 
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    padding-bottom: 100px;
       
}
.send-one{
display: flex;
flex-direction: column;    
}
.send-two{
display: flex;
flex-direction: column;    
}
.send-one h3{
font-family: Montserrat-medium; 
font-size: 31px;
color:#5F5C5B;

}
.send-one p{
font-family: Montserrat-medium; 

color:#5F5C5B;

}

/*novedades*/
.nov-bock-one{
display: flex;
flex-direction: column; 
padding-left: 200px;
padding-right: 200px;
padding-bottom: 100px;
}

.novtwo{
  display:none;
}
.novthree{
  display:none;
}
.nov-bock-two{
display: flex;
flex-direction: column; 
padding-left: 200px;
padding-right: 200px;
padding-bottom: 100px;
}
.nov-bock-three{
display: flex;
flex-direction: column; 
padding-left: 200px;
padding-right: 200px;
padding-bottom: 100px;
}
.nov-one{
display: flex;
flex-direction:row; 
justify-content: space-between;
padding-bottom: 50px;
}
.nov-one img{
margin-top:50px;    
}

.nov-text{
display:flex;
flex-direction: column;  
}

.nov-text h3{
font-family: Montserrat-medium;
color:#5F5C5B;
font-size: 31px;  
}
.nov-text h2{
font-family: Montserrat-medium;
color:#E95A21;
font-size: 20px;  
}
.nov-text p{

font-family: Montserrat-medium;
color:#5F5C5B;
font-size: 16px;  
}

.pag{
display: flex;    
}
.pag p{
font-family: Montserrat-medium;
color:#E95A21;
padding: 7px; 

}
.pag a{
text-decoration: none;  
}


/*contacto*/

.container-adj{
display: flex;
flex-direction: column;
padding-left: 200px;
padding-right: 200px;
padding-bottom: 50px;   

}
.container-adj{
font-family: Montserrat-medium;   
}

.lb-one{
font-size: 12px;
color:#5F5C5B;
padding-bottom: 5px;
}
.lb-two{
font-size: 10px;
color:#5F5C5B;
}
.container-adj-img{
display: flex;  
background-color:#F2F2F2;
width: 400px;
justify-content: space-between;
}

.container-adj-img p{
  position: absolute;
padding-left: 20px;  
font-family: Montserrat-semiBold;
color:#5F5C5B;
font-size: 18px;

}
.container-adj-img input{
  opacity: 0;
width: 400px ;
}
.container-adj-img input:hover{
  cursor: pointer;
}



.container-adj-img img{
  margin-top: 10px;
margin-right: 10px;
width: 50px;
height: 30px;
}


.container-adj-img input{
width: 600px;
height: 50px;
background-color:#F2F2F2;
border: 1px solid #F2F2F2;
}
.container-contacto{
padding-top: 100px;
display: flex;
flex-direction: row; 
padding-left: 200px;
padding-right: 200px;
justify-content: space-between;
}
.contacto-form input{
width: 600px;
height: 50px;
background-color:#F2F2F2;
border: 1px solid #F2F2F2;
margin-bottom: 20px;
font-family: Montserrat-semiBold;

}
.contacto-text h3{
margin-block-start: 0px;
font-family: Montserrat-bold;   
color:#5F5C5B;
font-size: 31px;
}
.contacto-text p{
font-family: Montserrat-bold;   
color:#5F5C5B;
font-size: 16px;
}

.contacto-form textarea{
 font-family: Montserrat-semiBold;
width: 600px;  
border: 1px solid #F2F2F2;
background-color:#F2F2F2;
}
.contacto-form ::placeholder{
 padding-left: 20px;  
 font-size: 18px;
}
.contacto-form{
display:flex;
flex-direction: column;
}

.contacto-text{
display: flex;
flex-direction: column;    
}

.maps-adj{
display: flex;
padding-left: 200px;
padding-right: 200px;  
justify-content: center;
}
.work{
display: flex;
flex-direction: column;
padding-left: 200px;
padding-right: 200px; 
padding-bottom: 100px;  
}
.work h3{
margin-block-start: 0px;
font-family: Montserrat-semiBold; 
color:#5F5C5B;
font-size: 31px;
}
.cv-p{
font-family: Montserrat-semiBold; 
color:#5F5C5B;
font-size: 20px;
padding-right: 7px;
    }
.cv{
 display: flex;

}
.p-orange{
font-family: Montserrat-medium;
color:#E95A21;
font-size: 20px;  
}
.maps-adj iframe{
width: 100% !important;
padding-bottom: 100px;
}

@media screen and (min-width: 300px) and (max-width: 350px) {
.empr-world-img img{
  width: 200px;
}
}
@media screen and (min-width: 350px) and (max-width: 580px) {
  .empr-world-img img{
    width: 300px;
  }
  }

@media screen and (min-width: 300px) and (max-width: 580px) {

  .ml{
    margin-left: 0px; 
   }
  .hr-emp {

    margin-left: 20px;
    margin-right:20px;
  }
  .displaydesktop{
    display:none;  
    }
    .displayresponsive{
    display:block;
    }
    
.cv-p{
padding-right: 0px;    
}

.work{
 padding-right: 40px;
padding-left: 40px;   
}
.cv{
flex-direction: column;   
}
.container-adj-img{
padding-top: 10px;
width: 310px;
margin-bottom: 10px;
}  

.container-adj-img input{
width: 100px;
  }   
.container-adj img img{
 margin-right: 40px; 
}
.maps-adj iframe{
height: 300px;

}
.container-adj{
padding-right: 40px;
padding-left: 40px;  
}
.container-contacto{
 padding-right: 40px;
padding-left: 40px;     
}    
.contacto-text h3{
padding-top:10px;
font-size:29px;    
}

.maps-adj{
padding-right: 40px;
padding-left: 40px;     
}

.contacto-form textarea{
width: 280px;
 }   
.contacto-form input{
width: 280px;
 } 
 .container-contacto{
padding-right: 40px;
 padding-left: 40px; 
 flex-direction: column;
 }   
.nov-bock-one{
 padding-right: 40px;
 padding-left: 40px;
}

.nov-one{
 flex-direction: column;  

}

.nov-one img{
margin-top:0px;    
}
.iframe-two{
margin-top:50px;
width: 300px;
}
.container-send{
padding-right: 40px;
padding-left: 40px;
flex-direction:column; 
}
.container-energy{
padding-right: 40px;
padding-left: 40px;
flex-direction:column; 
}

.energy-one{
 
margin-top:0px;
}   

.install-two-container{
flex-direction: column;
}
.container-garantia{
flex-direction: column;  
}
.container-install{
 flex-direction: column; 
padding-right: 40px;
padding-left: 40px;
}

.iframe-one{
width: 80% !important; 
height: 40% !important;  
}
.lideres{
padding-left: 40px;
padding-right: 40px;

}

.container-empresa-img{
padding:0px;
}
.margin-service{
margin-top:35px;  
margin-right: 0px; 
}  
  .staff-flag {
    margin-left: 50px;
  }
  .staff {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .staff-im {
    align-items: center;
  }
  .container-staff {
    display: flex;
    flex-direction: column;
  }

  .margin {
    margin-right: 2px;
  }

  .container-valor {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .container-valor-text p {
    width: 310px;
  }

  .container-empresa-one {
    padding-left: 40px;
    padding-right: 40px;
  }

  .empr-world {
padding-left: 0px;
padding-right: 0px;
 margin-top:10px;
 flex-direction: column;
 align-items: center;
  }

  .container-empresa-somos p{
    width: 300px;
  }
  .empr-world-img{
margin-left: 25px; 
  }
  .empr-world-text  {
    justify-content: center;
     width: 310px;
   }

  .empr-world-text p {
   justify-content: center;
    width: 310px;
  }

  .container-empresa {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-empresa-somos h3 {
    font-size: 30px;
    color: #2e4356;
  }
  .empresa-img {
    width: 300px;
  }
 
}

@media screen and (min-width: 581px) and (max-width: 1000px) {
  .ml{
    margin-left: 0px; 
   }
.empr-world {
  padding-left: 40px;
  padding-right: 40px;
   margin-top:10px;
      flex-direction: column;
    }
  }

@media screen and (min-width: 581px) and (max-width: 790px) {


  .ml{
    margin-left: 0px; 
   }
  .cv-p{
    padding-right: 0px;    
    }
    
    .work{
     padding-right: 40px;
    padding-left: 40px;   
    }
    .cv{
    flex-direction: column;   
    }
    .container-adj-img{
    padding-top: 10px;
    width: 450px;
    margin-bottom: 10px;
    }    
    .maps-adj iframe{
    height: 300px;
    
    }
    .container-adj{
    padding-right: 40px;
    padding-left: 40px;  
    }
    .container-contacto{
     padding-right: 40px;
    padding-left: 40px;     
    }    
    .contacto-text h3{
    padding-top:10px;
    font-size:29px;    
    }
    
    .maps-adj{
    padding-right: 40px;
    padding-left: 40px;     
    }
    

     .container-contacto{
    padding-right: 40px;
     padding-left: 40px; 
     flex-direction: column;
     }   
    .nov-bock-one{
     padding-right: 40px;
     padding-left: 40px;
    }
    
    .nov-one{
     flex-direction: column;  
    
    }
    
    .nov-one img{
    margin-top:0px;    
    }
    .iframe-two{
    margin-top:50px;
    width: 300px;
    }
    .container-send{
    padding-right: 40px;
    padding-left: 40px;
    flex-direction:column; 
    align-items: center;
    }
    .send-two iframe{
     width: 600px; 
    }
    .container-energy{
    padding-right: 40px;
    padding-left: 40px;
    flex-direction:column; 
    align-items: center;
    }
    
    .energy-one{
     
    margin-top:0px;
    }   
    
    .install-two-container{
    flex-direction: column;
    }
    .container-garantia{
    flex-direction: column;  
    }
    .container-install{
     flex-direction: column; 
    padding-right: 40px;
    padding-left: 40px;
    }
    /*---------------*/

.iframe-one{
width: 80% !important; 
height: 40% !important;  
}
.lideres{
padding-left: 40px;
padding-right: 40px;

}
.container-empresa{
align-items: center;  

}

.container-empresa-somos p{
 width: 400px; 
}
.container-empresa-somos h3{
 padding-top: 10px; 
 }
 

.container-empresa-img{
padding:0px;
} 
  .staff-flag {
    margin-left: 50px;
  }
  .staff {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  .staff-im {
    align-items: center;
  }
  .container-staff {
    display: flex;
    flex-direction: column;
  }

  .margin-two {
    margin-right: 1x;
  }
  .margin {
    margin-right: 2px;
  }
  .container-empresa-one {
    padding-left: 10px;
    padding-right: 10px;
  }
.empr-world{
align-items: center;
}

  .empr-world-text p {
    width: 400px;
  }
  .container-valor {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-valor-text p {
    width: 400px;
  }

  .container-empresa {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-empresa-somos h3 {
    font-size: 40px;
    color: #2e4356;
  }
  .empresa-img {
    width: 400px;
  }

  .staff-im {
    margin-top: 30px;
    margin-left: 50px;
  }
  .staff-flag {
    margin-left: 50px;
  }
  .staff {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .staff-im {
    align-items: center;
  }
}
@media screen and (min-width: 791px) and (max-width: 984px) {
  .iframe-two{
    margin-top:50px;
    width: 300px;
    }
  .ml{
    margin-left: 50px; 
   }
  .empr-world{
   flex-direction: column; 
  }
  .contacto-text{
  align-items: center;
   
  }
  .contacto-form{
    align-items: center;
  }
  .container-energy{
    padding-right: 40px;
    padding-left: 40px;}
    .container-contacto{
      padding-right: 0px;
      padding-left: 0px;}

.empr-world {
padding-left: 40px;
padding-right: 40px;
 margin-top:10px;
flex-direction: column;
align-items: center;
}

.lideres{
padding-left: 40px;
padding-right: 40px;

}
  .staff-flag {
    margin-left: 50px;
  }
  .staff {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
  }
  .staff-im {
    align-items: center;
  }
  .container-staff {
    display: flex;
    flex-direction: column;
  }

  .margin-two {
    margin-right: 1x;
  }
  .margin {
    margin-right: 2px;
  }
  .container-empresa-one {
    padding-left: 10px;
    padding-right: 10px;
   
  }
  .container-empresa {
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .empresa-img{
    width: 600px;
  }
  .container-empresa-somos h3 {
    font-size: 40px;
    color: #2e4356;
  }
  .empresa-img {
    width: 400px;
  }

  .container-valor {
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
  }
  .nov-bock-one{
    padding-left: 10px;
    padding-right: 10px;
  }
 
    .contacto-text h3{
     margin-top:20px; 
    }
    .container-adj{
      padding-left: 60px;
      padding-right: 60px;
    
      }
      .contacto-form input{
        width: 500px;
      }
      .contacto-form textarea{
        width: 500px;
      }
      .container-install{
        padding-left: 60px;
        padding-right: 60px;
      }
      .container-send{
     justify-content: center;
     padding-right: 0px;
     padding-left: 0px;
  
      }
      .send-one{
      margin-right: 50px;
      }
      
}
@media screen and (min-width: 984px) and (max-width: 1200px) {
  .send-two{
   margin-left: 50px;
   margin-top: 30px;
  }
  .container-install{
    padding-left: 40px;
    padding-right: 40px;
  }
  .container-empresa-somos h3{
   font-size: 40px; 
  }
  .container-empresa-one{
    
    padding-left: 10px;
    padding-right: 10px;
   
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .container-empresa-one{
    padding-right: 60px;
    padding-left: 60px;
  
  }
  .container-install{
    padding-left: 60px;
    padding-right: 60px;
  }
  .container-valor{
    padding-right: 110px;
    padding-left: 60px;
  
  }
}

@media screen and (min-width: 984px) and (max-width: 1600px) {
  .container-energy{
    padding-right: 60px;
    padding-left: 60px;
  
  }

  .container-contacto{
    padding-left: 60px;
    padding-right: 60px;
    }
    .container-adj{
      padding-left: 60px;
      padding-right: 60px;
    
      }



 
}
@media screen and (min-width: 984px) and (max-width: 1000px) {

  .nov-bock-one{
    padding-left: 60px;
    padding-right: 60px;
  }


 
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {

  .nov-bock-one{
    padding-left: 60px;
    padding-right: 60px;
  }


 
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {

  .nov-bock-one{
    padding-left: 120px;
    padding-right: 120px;
  }


 
}

@media screen and (min-width: 790px) and (max-width: 984px) {


  .nov-text p{
    width: 300px; 
   }

}
@media screen and (min-width: 790px) and (max-width: 1100px) {
  .footer{
    margin-top:100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom:80px;
    }


}
@media screen and (min-width: 984px) and (max-width: 1100px) {

  .container-contacto{
    padding-left: 60px;
    padding-right: 60px;
  
    }
  .nov-text p{
    width: 400px; 
   }
   .container-adj{
    padding-left: 60px;
    padding-right: 60px;
  
    }
    .contacto-form input{
      width: 500px;
    }
    .contacto-form textarea{
      width: 500px;
    }
}
@media screen and (min-width:900px) and (max-width: 1500px) {
  .container-send{
    padding-left: 80px;
    padding-right: 80px;
  }
  .nov-text p{
    width: 400px; 
   }
}
