<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quero Automation</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style-empresa.css" />
    <link rel="stylesheet" href="../css/style-servicios.css" />
  </head>
  <body>
    <nav class="header-six">
       
      <div class="container-header">
        <a href="../index.html"><div class="container-header-icono">
          <img src="../img/Logo quero.png" alt="" />
        </div></a>
        <div class="container-menu">
          <div class="container-header-search-and-tel">
            <div class="container-header-barra-busqueda">
              <input type="text" placeholder="Buscar por referencia" />
              <div class="icon-buscar">
                <img src="../img/buscar.png" />
              </div>
            </div>
            <div class="container-header-tel">
              <div class="container-header-tel-one">
                <img src="../img/llamada.png" alt="" />
                <p>+34 916 852 403</p>
              </div>
              <div class="container-header-tel-two">
                <img src="../img/español.png" alt="" />
                <select name="language" id="">
                  <option value="Español">Español</option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-menu-two">
            <nav class="menu">
              <ul class="menu-list">
                <li>
                  <a class="now-n" href="./empresa.html">EMPRESAS</a>
                </li>
                <li><a class="now-n" href="./servicios.html">SERVICIOS</a></li>
                <li><a class="now-n" href="./partner.html">PARTNES</a></li>
                <li><a class="now-n" href="./energy.html">ENERGY</a></li>
                <li><a class="now" href="./blog.html">BLOG</a></li>
                <li><a class="now-n" href="./contacto.html">CONTACTO</a></li>
                <li><a class="now" href="./shop.html">SHOP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!--header responsive-->
      <div class="container-header-responsive">
        <div class="options-responsive" id="menures">
          <div class="container-icon">
            <a href="javascript:displaynone()">
              <img class="menu-abierto-one" src="../img/menu-abierto.png" alt=""
            /></a>
          </div>
          <ul class="list-responsive">
            <div class="idioma-responsive">
              <li><a class="no-a" href="./index.html">Idioma</a></li>

              <select name="language" id=""> </select>
            </div>
            <li><a class="no-a" href="./empresa.html">Empresas</a></li>
            <li><a href="./servicios.html">Servicios</a></li>
            <li><a href="./partner.html">Partnes</a></li>
            <li><a href="./energy.html">Energy</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="./shop.html">Shop</a></li>
          </ul>
        </div>
        <div class="header-responsive">
          <div class="header-responsive-two">
            <a href="javascript:menuresponsive()"
              ><img
                class="menu-abierto"
                src="../img/Icon-Menu-orange.png"
                alt=""
            /></a>
            <img class="img-quero" src="../img/logo footer.png" alt="" />

            <img class="search" src="../img/buscar.png" />
          </div>
        </div>
      </div>
      <hr class="hr">
      <div class="container-nav-text">
 
   <p>BLOG</p>
        
        </div>


    </nav>

    <div class="lideres">

      <h1>INFÓRMATE DE NOVEDADES DEL SECTOR</p>
     </div>

     <div class="nov-bock-one">
     
       <div class="nov-one">
        
          <img src="../img/Grupo 489.png" alt="">
        
         
         <div class="nov-text">
           <h3>LOREM IMPSUT</h3>
           <h2>JULIO 2020</h2>

           <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed <br>diam  
            nonummy nibh euismod tincidunt ut laoreet dolore<br>
             magna aliquam 
            erat volutpat. Ut wisi enim ad minim veniam,<br>
             quis nostrud exerci 
            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>

            <div class="button-empresa button-margin">
              <button>VER MÁS</button>
            </div>
         </div>
       </div>
       <div class="nov-one">
        
        <img src="../img/Grupo 493.png" alt="">
      
       
       <div class="nov-text">
         <h3>LOREM IMPSUT</h3>
         <h2>JULIO 2020</h2>

         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed <br>diam  
          nonummy nibh euismod tincidunt ut laoreet dolore<br>
           magna aliquam 
          erat volutpat. Ut wisi enim ad minim veniam,<br>
           quis nostrud exerci 
          tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>

          <div class="button-empresa button-margin">
            <button>VER MÁS</button>
          </div>
       </div>
     </div>
     <div class="nov-one">
        
      <img src="../img/Grupo 501.png" alt="">
    
     
     <div class="nov-text">
       <h3>LOREM IMPSUT</h3>
       <h2>JULIO 2020</h2>

       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed <br>diam  
        nonummy nibh euismod tincidunt ut laoreet dolore<br>
         magna aliquam 
        erat volutpat. Ut wisi enim ad minim veniam,<br>
         quis nostrud exerci 
        tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</p>

        <div class="button-empresa button-margin">
          <button>VER MÁS</button>
        </div>
     </div>
   </div>

     <div class="pag">  
       <p><</p>
       <p>1</p>
       <p>2</p>
       <p>3</p>
       <p>></p>
     </div>
     </div>
    



     <!--catalogo-->
   <div class="container-catalogo">
 <div class="catalogo-img">
<img src="../img/Grupo 589.png" alt="">
 </div>
 <div class="catalogo-text">
<div class="catalogo-text-tittle">
   <p class="cat-tittle">CATÁLOGOS Y ZONA <br>
DE DESCARGA</p>
<p class="cat-text">Descubre todo nuestro portafolio de<br>servicios, repuestos electrónicos de<br>
    automatización nuevos-descatalogados<br>nuevos-actuales y reacondicionados.

</p>
</div>

 </div>
 <div class="catalogo-download">
    <div class="button-download">
        <button>DESCARGAR</button>
    </div>
 </div>



   </div>

   
   <footer class="footer">
    <div class="footer-logo">
      <img class="img-footer-one" src="../img/logo footer.png" alt="" />
      <img class="img-footer-two" src="../img/flt.png" alt="" />
      <p>
        QUERO Automation ® 2020 | Repuestos de Automatización Industrial QUERO
        Automation ® no es Distribuidor Oficial ni Representante de los
        fabricantes que aparecen en nuestra web.
      </p>
    </div>
    <div class="footer-menu">
      <div cass="menu-one">
        <a href="../views/empresa.html"><li class="footer-black">EMPRESAS</li></a>
        <a href="../views/servicios.html"></a><li class="footer-black">SERVICIOS</li>
        <li class="footer-black">ALIANZAS</li>
        <a href="../views/energy.html"><li class="footer-black">ENERGIA</li></a>
      </div>
      <div cass="menu-two">
        <a href="../views/contacto.html"><li class="footer-black">CONTACTO</li></a>
        <li class="footer-black">SHOP</li>
        <li class="footer-orange">DESCARGAS</li>
        <a href="./views/blog.html"><li class="footer-orange">BLOG</li></a>
      </div>
    </div>
    <img class="barra" src="../img/barra.png" alt="" />
    <div class="footer-tel">
      <p>
        C/ REGORDOÑO, 13,<br />
        28936 MÓSTOLES - MADRID (ESPAÑA)
      </p>

      <li class="f-tel">TELÉFONOS</li>
      <li>+34 91 685 24 03</li>

      <p class="p-tel">JC-ELECTRONICS@QUEROAUTOMATION.COM</p>
    </div>
  </footer>
<script src="../js/index.js"></script>
  </body>
</html>
