<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quero Automation</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style-empresa.css" />
    <link rel="stylesheet" href="../css/style-servicios.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="header-six">
       
      <div class="container-header">
        <a href="../index.html"><div class="container-header-icono">
          <img src="../img/Logo quero.png" alt="" />
        </div></a>
        <div class="container-menu">
          <div class="container-header-search-and-tel">
            <div class="container-header-barra-busqueda">
              <input type="text" placeholder="Buscar por referencia" />
              <div class="icon-buscar">
                <img src="../img/buscar.png" />
              </div>
            </div>
            <div class="container-header-tel">
              <div class="container-header-tel-one">
                <img src="../img/llamada.png" alt="" />
                <p>+34 916 852 403</p>
              </div>
              <div class="container-header-tel-two">
                <img src="../img/español.png" alt="" />
                <select name="language" id="">
                  <option value="Español">Español</option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-menu-two">
            <nav class="menu">
              <ul class="menu-list">
                <li>
                  <a class="now-n" href="./empresa.html">EMPRESAS</a>
                </li>
                <li><a class="now-n" href="./servicios.html">SERVICIOS</a></li>
                <li><a class="now-n" href="./partner.html">PARTNES</a></li>
                <li><a class="now-n" href="./energy.html">ENERGY</a></li>
                <li><a class="now" href="./blog.html">BLOG</a></li>
                <li><a class="now-n" href="./contacto.html">CONTACTO</a></li>
                <li><a class="now" href="./shop.html">SHOP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!--header responsive-->
      <div class="container-header-responsive">
        <div class="options-responsive" id="menures">
          <div class="container-icon">
            <a href="javascript:displaynone()">
              <img class="menu-abierto-one" src="../img/menu-abierto.png" alt=""
            /></a>
          </div>
          <ul class="list-responsive">
            <div class="idioma-responsive">
              <li><a class="no-a" href="./index.html">Idioma</a></li>

              <select name="language" id=""> </select>
            </div>
            <li><a class="no-a" href="./empresa.html">Empresas</a></li>
            <li><a href="./servicios.html">Servicios</a></li>
            <li><a href="./partner.html">Partnes</a></li>
            <li><a href="./energy.html">Energy</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="./shop.html">Shop</a></li>
          </ul>
        </div>
        <div class="header-responsive">
          <div class="header-responsive-two">
            <a href="javascript:menuresponsive()"
              ><img
                class="menu-abierto"
                src="../img/Icon-Menu-orange.png"
                alt=""
            /></a>
            <img class="img-quero" src="../img/logo footer.png" alt="" />

            <img class="search" src="../img/buscar.png" />
          </div>
        </div>
      </div>
      <hr class="hr">
      <div class="container-nav-text">
 
   <p>BLOG</p>
        
        </div>


    </nav>

    <div class="blog-container">
        <div class="container-blog-menu ">
            <div class="container-blog-menu-text">
        <h2 class="ml-2 margin-top-blog-two">- CATEGORIAS -</h2>
        <ul class="ml-4 mt-3 mb-3">
            <li>SIEMENS (11)</li>
            <li>Automatización (23)</li>
            <li>Robots (5)</li>
            <li>Reparaciones (7)</li>
        </ul>
            </div>
            <div class="container-blog-menu-text">
                <h2 class="">- POSTS 
                </h2>
                   <h2 class="ml-3 mb-3 mr-2">RECIENTES - 
                   </h2>
                <ul class="ml-3">
                    <li>POST 1</li>
                    <h4>Junio 12 2020</h4>
                    <li>POST 2</li>
                    <h4>Julio 12 2020</h4>
                    <li>POST 3</li>
                    <h4>Octubre 12 2020</h4>
                    <li>POST 4</li>
                    <h4>Noviembre 12 2020</h4>
                </ul>
                    </div>
        
        </div>
        <div class="container-blog-text ml-5">
        <h2 class="margin-top-blog">¿VENDES O TE COMPRAN?</h2>
        <h3>Automatización - JUNIO 12,2020</h3>
        <p>Muchas marcas identifican el cliente como el principal actor de toda su operación y al cual hay que darle <br>valor añadido, atender y entender, y por el cual “viven” las empresas; sin embargo resulta contradictorio <br>cuando los clientes no se encuentran satisfechos con las marcas o con la atención, el producto o el precio; <br>lo que resulta al final en una decepción y un círculo vicioso de ofrecer “mejores cosas” y en cambio los <br>clientes estar pidiendo algo diferente.  
        </p>
        <p>Para poder entender esto debemos separar los conceptos de, “venderle al cliente” y que “el cliente compre” 
            <br>(porque no es lo mismo), debemos partir de los conceptos básicos humanos de comportamiento y consumo. <br>El ser humano es consumidor por naturaleza y siempre busca satisfacer necesidades, las cuales y de <br>acuerdo a la pirámide de Maslow, fisiológicas, seguridad, sociales, reconocimiento y autorrealización </br>se dividen en 5 escalones o franjas; una cumplible en la medida en que la inferior haya sido satisfecha.</p>
        <img src="../img/wl2pVP@2x.png" class="mb-5 " alt="">
        <h5>Entonces ¿cuándo un cliente compra y cuándo le vendo? </h5>
        <p>bueno, la diferencia radica en la posición de la pirámide en la cual se encuentre y el nivel de necesidad que
            <br>tenga en ese momento y la satisfacción que encuentre.</p>
            <p>
            Vendemos cuando la propuesta de valor le brinda satisfacción y añadidos diferentes a los que la <br>
           competencia directa o “sustitutiva” ofrecen por un producto similar, cuando el cliente, consumidor, <br>
            consumer o prosumer, encuentra que la relación de los beneficios se convierten en un adicional y plus; por <br>lo cual nos deja del otro lado que un alto porcentaje de las empresas en realidad no venden, sino que les<br>
             compran, y les compran porque la necesidad primaria en ese momento les presiona, no porque<br>
             encuentren un valor o un diferencial en el producto o marca que están comprando.<p>
        
             <p> De esta manera entender que el cliente o consumidor es más exigente cada vez, es fundamental para <br>
                corregir los comportamientos tóxicos que llevan al fracaso de las compañías cuando no se le otorga al <br>
                cliente la posición más importante a lo largo de la cadena de valor.
            </p>
        </div>
          </div>
          <div class="blog-container-responsive">
            <nav class="navbar navbar-dark mt-5" >
                <a style="text-decoration: none;" class=" text-center text-categorias ml-4" href="#"> - CATEGORIAS</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"> <img src="../img/menu.png" alt=""></span>
                </button>
              
                <div class="navbar-collapse collapse text-center " id="navbarsExample02">
                  <ul>
                    <li>SIEMENS (11)</li>
                    <li>Automatización (23)</li>
                    <li>Robots (5)</li>
                    <li>Reparaciones (7)</li>
                  </ul>
            
                </div>
              </nav>
              <nav class="navbar navbar-dark  text-center" >
                <a class=" text-center text-categorias ml-4" href="#"> - POSTS RECIENTES</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"> <img src="../img/menu.png" alt=""></span>
                </button>
              
                <div class="navbar-collapse collapse" id="navbarsExample01">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a style="color: #5f5c5b"class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POST 1</a>
                      <div style="background-color: #F2F2F2; border: solid #F2F2F2;"class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item text-center" href="#">Junio 12 2020</a>
                       
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: #5f5c5b"class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POST 2</a>
                        <div style="background-color: #F2F2F2; border: solid #F2F2F2;"class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item text-center" href="#">Julio 12 2020</a>
                         
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a style="color: #5f5c5b"class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POST 3</a>
                        <div style="background-color: #F2F2F2; border: solid #F2F2F2;"class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item text-center" href="#">Octubre 12 2020</a>
                         
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a style="color: #5f5c5b"class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">POST 4</a>
                        <div style="background-color: #F2F2F2; border: solid #F2F2F2;"class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item text-center" href="#">Noviembre 12 2020</a>
                         
                        </div>
                      </li>
                  </ul>
            
                </div>
              </nav>
            <div class="container-blog-text ml-5">
            <h2 class="margin-top-blog">¿VENDES O TE COMPRAN?</h2>
            <h3>Automatización - JUNIO 12,2020</h3>
            <p>Muchas marcas identifican el cliente como el principal actor de toda su operación y al cual hay que darle <br>valor añadido, atender y entender, y por el cual “viven” las empresas; sin embargo resulta contradictorio <br>cuando los clientes no se encuentran satisfechos con las marcas o con la atención, el producto o el precio; <br>lo que resulta al final en una decepción y un círculo vicioso de ofrecer “mejores cosas” y en cambio los <br>clientes estar pidiendo algo diferente.  
            </p>
            <p>Para poder entender esto debemos separar los conceptos de, “venderle al cliente” y que “el cliente compre” 
                <br>(porque no es lo mismo), debemos partir de los conceptos básicos humanos de comportamiento y consumo. <br>El ser humano es consumidor por naturaleza y siempre busca satisfacer necesidades, las cuales y de <br>acuerdo a la pirámide de Maslow, fisiológicas, seguridad, sociales, reconocimiento y autorrealización </br>se dividen en 5 escalones o franjas; una cumplible en la medida en que la inferior haya sido satisfecha.</p>
            <img src="../img/wl2pVP@2x.png" class="mb-5 " alt="">
            <h5>Entonces ¿cuándo un cliente compra y cuándo le vendo? </h5>
            <p>bueno, la diferencia radica en la posición de la pirámide en la cual se encuentre y el nivel de necesidad que
                <br>tenga en ese momento y la satisfacción que encuentre.</p>
                <p>
                Vendemos cuando la propuesta de valor le brinda satisfacción y añadidos diferentes a los que la <br>
               competencia directa o “sustitutiva” ofrecen por un producto similar, cuando el cliente, consumidor, <br>
                consumer o prosumer, encuentra que la relación de los beneficios se convierten en un adicional y plus; por <br>lo cual nos deja del otro lado que un alto porcentaje de las empresas en realidad no venden, sino que les<br>
                 compran, y les compran porque la necesidad primaria en ese momento les presiona, no porque<br>
                 encuentren un valor o un diferencial en el producto o marca que están comprando.<p>
            
                 <p> De esta manera entender que el cliente o consumidor es más exigente cada vez, es fundamental para <br>
                    corregir los comportamientos tóxicos que llevan al fracaso de las compañías cuando no se le otorga al <br>
                    cliente la posición más importante a lo largo de la cadena de valor.
                </p>
            </div>
              </div>
          <h2 class="posts text-center mt-5" >POST RELACIONADOS</h2>


    <div class="container down-desktop mt-5 mb-5">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators mt-5">
              <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
       
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active mb-5">
                  <div class="row ">
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Servicio de protocolo<br>
                            y seguridad</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Curso sick</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Economía circular</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Servicio de protocolo <br>
                            y seguridad</p>
                      </div>
                      </div>
                    </div>
              </div>
              <div class="carousel-item  mb-5">
                  <div class="row ">
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Servicio de protocolo<br>
                            y seguridad</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Curso sick</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Economía circular</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Servicio de protocolo <br>
                            y seguridad</p>
                      </div>
                      </div>
                    </div>
              </div>
              <div class="carousel-item mb-5">
                  <div class="row ">
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Servicio de protocolo<br>
                            y seguridad</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Curso sick</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Economía circular</p>
                      </div>
                      </div>
                      <div class="col-md-3">
                        <div class="container-down-one-one">
                        <img src="../img/RdPhgE.png" alt="">
                         <p>Servicio de protocolo <br>
                            y seguridad</p>
                      </div>
                      </div>
                    </div>
              </div>
    
            </div>
    
          </div>
    
    
    
    
      </div>
      <div class="down-responsive mt-5 mb-5 ">

        <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators4" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators4" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators4" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner blog-two-carousel mb-5">
            <div class="carousel-item active mb-5 ml-5">
                <div class="row m-left-inner">
                    <div class="col-md-3 col-xs-12">
                      <div class="container-down-one-one">
                      <img src="../img/RdPhgE.png" alt="">
                       <p>Servicio de protocolo<br>
                          y seguridad</p>
                    </div>
                    </div>
                    </div>
            </div>
            <div class="carousel-item mb-5 ml-5">
                <div class="col-md-3">
                    <div class="container-down-one-one">
                    <img src="../img/RdPhgE.png" alt="">
                     <p>Curso sick</p>
                  </div>
                  </div>
                 
            </div>
            <div class="carousel-item mb-5 ml-5" >
                <div class="col-md-3">
                    <div class="container-down-one-one">
                    <img src="../img/RdPhgE.png" alt="">
                     <p>Economía circular</p>
                  </div>
                  </div>



            </div>
            <div class="carousel-item mb-5  ml-5">
                <div class="col-md-3">
                    <div class="container-down-one-one">
                    <img src="../img/RdPhgE.png" alt="">
                     <p>Servicio de protocolo  <br>y 
                        seguridad</p>
                  </div>
                  </div>

            </div>
          </div>
        </div>
    </div>



     <!--catalogo-->
   <div class="container-catalogo">
 <div class="catalogo-img">
<img src="../img/Grupo 589.png" alt="">
 </div>
 <div class="catalogo-text">
    <div class="catalogo-text-tittle">
      <p class="cat-tittle">
        TENEMOS TU <br />
        REPUESTO
      </p>
      <p class="cat-text">
        Mas de 1 millón de piezas y repuestos <br>
        de las marcas mas reconocidas <br>
        tanto nuevas como obsoletas.
      </p>
    </div>
  </div>
 <div class="catalogo-download">
    <div class="button-download">
      <a href="./descargas.html"> <button  >DESCARGAR</button></a>
    </div>
 </div>

   </div>

   
    
   <footer class="footer">
    <div class="footer-logo">
      <img class="img-footer-one" src="../img/logo footer.png" alt="" />
      <div class="footer-two">
        <a href=""> <img src="../img/facebook.png" alt=""></a>
        <a href=""> <img src="../img/linked in.png" alt=""></a>
         <a href=""><img src="../img/twitter.png" alt=""></a>
       </div>
      <p>
        QUERO Automation ® 2020 | Repuestos de Automatización Industrial QUERO
        Automation ® no es Distribuidor Oficial ni Representante de los
        fabricantes que aparecen en nuestra web.
      </p>
    </div>
    <div class="footer-menu">
      <div cass="menu-one">
        <a style="text-decoration: none;" href="../views/empresa.html"><li class="footer-black">EMPRESAS</li></a>
        <a style="text-decoration: none;" href="../views/servicios.html"><li class="footer-black">SERVICIOS</li></a>
        <li class="footer-black">ALIANZAS</li>
        <a style="text-decoration: none;" href="../views/energy.html"><li class="footer-black">ENERGIA</li></a>
      </div>
      <div cass="menu-two">
        <a style="text-decoration: none;"  href="../views/contacto.html"><li class="footer-black">CONTACTO</li></a>
        <li class="footer-black">SHOP</li>
        <a  style="text-decoration: none;" href="../views/descargas.html"><li class="footer-orange">DESCARGAS</li></a>
        <a  style="text-decoration: none;" href="../views/blog.html"><li class="footer-orange">BLOG</li></a>
      </div>
    </div>
    <img class="barra" src="../img/barra.png" alt="" />
    <div class="footer-tel">
      <p>
        C/ REGORDOÑO, 13,<br />
        28936 MÓSTOLES - MADRID (ESPAÑA)
      </p>

      <li class="f-tel">TELÉFONOS</li>
      <li>+34 91 685 24 03</li>

      <p class="p-tel">JC-ELECTRONICS@QUEROAUTOMATION.COM</p>
    </div>
  </footer>
<script src="../js/index.js"></script>
  </body>
</html>
