<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quero Automation</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav class="header-six">
       
      <div class="container-header">
        <div class="container-header-icono">
          <img src="../img/Logo quero.png" alt="" />
        </div>
        <div class="container-menu">
          <div class="container-header-search-and-tel">
            <div class="container-header-barra-busqueda">
              <input type="text" placeholder="Buscar por referencia" />
              <div class="icon-buscar">
                <img src="../img/buscar.png" />
              </div>
            </div>
            <div class="container-header-tel">
              <div class="container-header-tel-one">
                <img src="../img/llamada.png" alt="" />
                <p>+34 916 852 403</p>
              </div>
              <div class="container-header-tel-two">
                <img src="../img/español.png" alt="" />
                <select name="language" id="">
                  <option value="Español">Español</option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-menu-two">
              <input type="checkbox"  id="btn-menu">
              <label for="btn-menu"> <img class="menu-abierto" src="../img/menu-abierto.png" alt=""></label>
              <nav class="menu">

                <ul class="menu-list">
                    <li><a href="">EMPRESAS</a></li>
                    <li><a href="./servicios.html">SERVICIOS</a></li>
                    <li><a href="./partner.html">PARTNES</a></li>
                    <li><a href="./energy.html">ENERGY</a></li>
                    <li><a href="./blog.html">BLOG</a></li>
                    <li><a href="">CONTACTO</a></li>
                    <li><a href="">SHOP</a></li>
                </ul>

              </nav>
         
          </div>
        </div>
      
      </div>
      <hr class="hr">
      <div class="container-nav-text">
 
   <p>QUERO ENERGY</p>
        
        </div>


    </nav>


    



     <!--catalogo-->
   <div class="container-catalogo">
 <div class="catalogo-img">
<img src="../img/Grupo 589.png" alt="">
 </div>
 <div class="catalogo-text">
<div class="catalogo-text-tittle">
   <p class="cat-tittle">CATÁLOGOS Y ZONA <br>
DE DESCARGA</p>
<p class="cat-text">Descubre todo nuestro portafolio de<br>servicios, repuestos electrónicos de<br>
    automatización nuevos-descatalogados<br>nuevos-actuales y reacondicionados.

</p>
</div>

 </div>
 <div class="catalogo-download">
    <div class="button-download">
        <button>DESCARGAR</button>
    </div>
 </div>



   </div>

   
 <footer class="footer">
<div class="footer-logo">
<img class="img-footer-one" src="../img/logo footer.png" alt="">
<img class="img-footer-two" src="../img/flt.png" alt="">
<p>QUERO Automation ® 2020 | Repuestos de Automatización Industrial QUERO Automation ® no es Distribuidor Oficial ni Representante de los fabricantes que aparecen en nuestra web.</p>
</div>
<div class="footer-menu">
<div cass="menu-one">
   <li class="footer-black">EMPRESAS</li>
   <li class="footer-black">SERVICIOS</li>
   <li class="footer-black">ALIANZAS</li> 
   <li class="footer-black">ENERGIA</li> 
</div>
<div cass="menu-two">
    <li class="footer-black">CONTACTO</li>
    <li class="footer-black">SHOP</li>
    <li class="footer-orange">DESCARGAS</li> 
    <li class="footer-orange"> BLOG</li>
 </div>
</div>
<img class="barra" src="../img/barra.png" alt="">
<div class="footer-tel">
    <p>C/ REGORDOÑO, 13,<br>
    28936 MÓSTOLES - MADRID (ESPAÑA)
    </p>

    <li class="f-tel">TELÉFONOS</li>
    <li>+34 91 685 24 03</li>

    <p class="p-tel">JC-ELECTRONICS@QUEROAUTOMATION.COM</p>


</div>


    
</footer>

  </body>
</html>
