<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quero Automation</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style-empresa.css" />
  </head>
  <body>
    <nav class="header-two">
      <div class="container-header">
        <div class="container-header-icono">
          <img src="../img/Logo quero.png" alt="" />
        </div>
        <div class="container-menu">
          <div class="container-header-search-and-tel">
            <div class="container-header-barra-busqueda">
              <input type="text" placeholder="Buscar por referencia" />
              <div class="icon-buscar">
                <img src="../img/buscar.png" />
              </div>
            </div>
            <div class="container-header-tel">
              <div class="container-header-tel-one">
                <img src="../img/llamada.png" alt="" />
                <p>+34 916 852 403</p>
              </div>
              <div class="container-header-tel-two">
                <img src="../img/español.png" alt="" />
                <select name="language" id="">
                  <option value="Español">Español</option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-menu-two">
            <input type="checkbox" id="btn-menu" />
            <label for="btn-menu">
              <img class="menu-abierto" src="../img/menu-abierto.png" alt=""
            /></label>
            <nav class="menu">
              <ul class="menu-list">
                <li><a href="">EMPRESAS</a></li>
                <li><a href="./servicios.html">SERVICIOS</a></li>
                <li><a href="./partner.html">PARTNES</a></li>
                <li><a href="./energy.html">ENERGY</a></li>
                <li><a href="./blog.html">BLOG</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">SHOP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <hr class="hr" />
      <div class="container-nav-text">
        <p>EMPRESA</p>
      </div>
    </nav>

    <div class="container-empresa-one">
      <div class="container-empresa">
        <div class="container-empresa-img">
          <div class="empresa-img">
            <p>Imagen empresa</p>
          </div>
        </div>
        <div class="container-empresa-somos">
          <h3>
            SOMOS QUERO<br />
            AUTOMATION
          </h3>
          <p>
            Somos una empresa
            <strong>comprometida organizada, empática, confiable y amiga</strong
            >, ya que nuestra personalidad de ofrecerle al cliente lo que
            necesita defiende estos principios.
            <strong
              >Somos una marca cercana que se identifica por su amabilidad y
              conveniencia.</strong
            >
            Así mismo, somos estructurados, organizados, y eficaces porque
            mantenemos nuestros procesos internos de atención al cliente en
            total control y trazabilidad.
            <strong>30 años en el mercado</strong> nos han dado la experiencia,
            reconocimiento y respaldo de nuestros clientes, orientados como un
            referente internacional de distribución de equipos de automatización
            y control industrial en baja tensión. Un equipo comprometido
            conformado por técnicos, ingenieros y expertos en las áreas del
            mercado eléctrico, electrónico, la automatización industrial y
            acuerdos de distribución internacional, hacen que podamos ofrecerle
            al cliente valores agregados que consideramos importantes, como
            alternativas técnicamente viables para su requerimiento, tiempo de
            entrega urgente para sus equipos, el mejor precio posible del
            mercado y una atención personalizada, profesional y amigable.
          </p>
        </div>
      </div>
      <hr class="hr-emp" />
      <div class="empr-world">
        <div class="empr-world-img">
          <img src="../img/avion icon.png" alt="" />
        </div>
        <div class="empr-world-text">
          <h3>ALREDEDOR DE MUNDO</h3>
          <ul>
            <li>
              <img src="../img/list-orange.png" alt="" />Vendemos a
              <strong>más de 100 países</strong>.
            </li>
            <li>
              <img src="../img/list-orange.png" alt="" />Más de
              <strong>250 empleados en plantilla</strong>, 90 de ellos en el
              <br />
              departamento técnico.
            </li>
            <li>
              <img src="../img/list-orange.png" alt="" /><strong
                >30.000 M2</strong
              >
              a su servicio.
            </li>
            <li>
              <img src="../img/list-orange.png" alt="" />Trabajamos con las
              <strong>mejores marcas del mercado</strong>.
            </li>
            <li>
              <img src="../img/list-orange.png" alt="" />Piezas nuevas
              <strong>u obsoletas </strong>.
            </li>
            <li>
              <img src="../img/list-orange.png" alt="" /><strong
                >Envíos internacionales</strong
              >
              a cualquier país.
            </li>
          </ul>
          <p>
            Contamos con un amplio stock y una excelente red de proveedores y
            empresas asociadas. De este modo, le podemos entregar rápidamente
            los equipos que necesita. Reparamos y sustituimos piezas de robots
            en instalaciones industriales en condición de descatalogado o
            actuales de las principales marcas que hay en el mercado
          </p>
        </div>
      </div>
      <hr />

      <div class="empr-world">
        <div class="empr-world-img">
          <h3>
            SOMOS LA <br />
            DELEGACIÓN OFICIA <br />
            DE
            <strong class="strong-orange">
              JC-ELECTRONICS EN
            </strong>
            <br />
            <strong class="strong-negrilla">IBERIA (ESPAÑA - PORTUGAL)</strong>
          </h3>
        </div>
        <div class="empr-world-text margin">
          <p>
            Llevamos ya más de 10 años trabajando con JC-Electronics, ahora como
            delegación oficial para Iberia, España y Portugal, distribuidor y
            representante de todo su portafolio. Ubicada en Holanda
            JC-Electronics es una multinacional con un equipo de más de 300
            personas en su sede con un departamento de ingenieros especializado
            en reparaciones y reacondicionamiento de piezas y repuesto de
            Automatización Industrial.
          </p>

          <div class="button-empresa">
            <button>MÁS INFO</button>
          </div>
        </div>
      </div>
      <hr />

      <div class="empr-world">
        <div class="empr-world-img-two">
          <h3>
            NUESTRA CALIDAD <br />
            EN ESTÁNDARES
          </h3>
          <div class="logos">
            <img src="../img/Grupo 587.png" alt="" />
            <img class="iso" src="../img/Grupo 83@2x.png" alt="" />
          </div>
        </div>
        <div class="empr-world-text margin-two">
          <p >
            Nuestros estándares de calidad están basados en la ISO 9001. Nos
            comprometemos con la calidad y el servicio para que nuestros cliente
            estén totalmente satisfechos. Puedes ver nuestras ISO 9001 en la
            sección de descargas. <br />
            Ganadora del reconocimiento a mejor empresa de formación 2019-2020
            en Holanda.
          </p>

          <div class="button-empresa">
            <button>DESCARGAS</button>
          </div>
        </div>
      </div>
    </div>

    <div class="valor">
      <div class="container-valor">
        <div class="container-valor-tittle">
          <h3>NUESTRA OFERTA DE VALOR</h3>
          <p>Vendemos, Reparamos o hacemos Intercambio</p>
        </div>
        <img class="barra" src="../img/barra.png" alt="" />
        <div class="container-valor-text">
          <p>
            Somos una empresa de alma pequeña, con la infraestructura y la
            dirección de una grande. Nosotros vendemos algo que se amolde al
            cliente y no a nosotros como compañía. Somos como el señor de la
            ferretería que te ofrece la mejor herramienta, que no necesariamente
            es la de mayor valor. Vendemos lo que se ajusta a tus necesidades
            como cliente y no lo que nos conviene. Nuestro modelo de negocio es
            adaptable al perfil del cliente.
          </p>
        </div>
      </div>
    </div>

    <div class="staff">
      <h3>NUESTRO STAFF</h3>
      <div class="container-staff">
        <div class="staff-one">
          <div class="staff-im">
            <img class="staff-image" src="../img/Grupo 218.png" alt="" />
          </div>

          <div class="staff-text">
            <li class="li-name">JORGE QUERO</li>
            <li class="li-text">Sales Manager</li>
          </div>
          <div class="staff-flag">
            <img src="../img/Grupo 104@2x.png" alt="" />
            <img class="staff-error" src="../img/Grupo 185@2x.png" alt="" />
            <img src="../img/Grupo 116@2x.png" alt="" />
            <img src="../img/Grupo 121@2x.png" alt="" />
            <img src="../img/Grupo 128@2x.png" alt="" />
            <img src="../img/Grupo 132@2x.png" alt="" />
          </div>
          <div class="staff-text">
            <li class="li-text">+34 91 685 24 03</li>
            <li class="li-text">jorge@queroautomation.com</li>
          </div>
        </div>
        <div class="staff-one">
          <div class="staff-im">
            <img class="staff-image" src="../img/Grupo 214.png" alt="" />
          </div>
          <div class="staff-text">
            <li class="li-name">VERÓNICA QUERO</li>
            <li class="li-text">Financial Director</li>
          </div>
          <div class="staff-flag">
            <img src="../img/Grupo 178.png" alt="" />
            <img class="staff-error" src="../img/Grupo 185@2x.png" alt="" />
            <img src="../img/Grupo 116@2x.png" alt="" />
            <img src="../img/Grupo 121@2x.png" alt="" />
            <img src="../img/Grupo 128@2x.png" alt="" />
            <img src="../img/Grupo 132@2x.png" alt="" />
          </div>
          <div class="staff-text">
            <li class="li-text">+34 687 509 613</li>
            <li class="li-text">veronica@queroautomation.com</li>
          </div>
        </div>
        <div class="staff-one">
        <div class="staff-im">

        
          <img class="staff-image" src="../img/Grupo 224@2x.png" alt="" />
        </div>
          <div class="staff-text">
            <li class="li-name">OSCAR QUERO</li>
            <li class="li-text">Facility Manager</li>
          </div>
          <div class="staff-flag">
            <img src="../img/Grupo 178.png" alt="" />
            <img class="staff-error" src="../img/Grupo 185@2x.png" alt="" />
            <img src="../img/Grupo 116@2x.png" alt="" />
            <img src="../img/Grupo 121@2x.png" alt="" />
            <img src="../img/Grupo 128@2x.png" alt="" />
            <img src="../img/Grupo 132@2x.png" alt="" />
          </div>
          <div class="staff-text">
            <li class="li-text">+34 687 509 613</li>
            <li class="li-text">oscar@queroautomation.com</li>
          </div>
        </div>
      </div>
      <div class="img-circle">
    <img src="../img/circulo.png" alt="">
    <img src="../img/circulo.png" alt="">
    <img src="../img/circulo.png" alt="">
      </div>
    
    </div>

   

    <!---->
    <div class="container-catalogo">
      <div class="catalogo-img">
        <img src="../img/Grupo 589.png" alt="" />
      </div>
      <div class="catalogo-text">
        <div class="catalogo-text-tittle">
          <p class="cat-tittle">
            CATÁLOGOS Y ZONA <br />
            DE DESCARGA
          </p>
          <p class="cat-text">
            Descubre todo nuestro portafolio de<br />servicios, repuestos
            electrónicos de<br />
            automatización nuevos-descatalogados<br />nuevos-actuales y
            reacondicionados.
          </p>
        </div>
      </div>
      <div class="catalogo-download">
        <div class="button-download">
          <button>DESCARGAR</button>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-logo">
        <img class="img-footer-one" src="../img/logo footer.png" alt="" />
        <img class="img-footer-two" src="../img/flt.png" alt="" />
        <p>
          QUERO Automation ® 2020 | Repuestos de Automatización Industrial QUERO
          Automation ® no es Distribuidor Oficial ni Representante de los
          fabricantes que aparecen en nuestra web.
        </p>
      </div>
      <div class="footer-menu">
        <div cass="menu-one">
          <li class="footer-black">EMPRESAS</li>
          <li class="footer-black">SERVICIOS</li>
          <li class="footer-black">ALIANZAS</li>
          <li class="footer-black">ENERGIA</li>
        </div>
        <div cass="menu-two">
          <li class="footer-black">CONTACTO</li>
          <li class="footer-black">SHOP</li>
          <li class="footer-orange">DESCARGAS</li>
          <li class="footer-orange">BLOG</li>
        </div>
      </div>
      <img class="barra" src="../img/barra.png" alt="" />
      <div class="footer-tel">
        <p>
          C/ REGORDOÑO, 13,<br />
          28936 MÓSTOLES - MADRID (ESPAÑA)
        </p>

        <li class="f-tel">TELÉFONOS</li>
        <li>+34 91 685 24 03</li>

        <p class="p-tel">JC-ELECTRONICS@QUEROAUTOMATION.COM</p>
      </div>
    </footer>
  </body>
</html>
