<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quero Automation</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style-empresa.css" />
    <link rel="stylesheet" href="../css/style-servicios.css" />
  </head>
  <body>
    <nav class="header-for">
       
      <div class="container-header">
        <a href="../index.html"><div class="container-header-icono">
          <img src="../img/Logo quero.png" alt="" />
        </div></a>
        <div class="container-menu">
          <div class="container-header-search-and-tel">
            <div class="container-header-barra-busqueda">
              <input type="text" placeholder="Buscar por referencia" />
              <div class="icon-buscar">
                <img src="../img/buscar.png" />
              </div>
            </div>
            <div class="container-header-tel">
              <div class="container-header-tel-one">
                <img src="../img/llamada.png" alt="" />
                <p>+34 916 852 403</p>
              </div>
              <div class="container-header-tel-two">
                <img src="../img/español.png" alt="" />
                <select name="language" id="">
                  <option value="Español">Español</option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-menu-two">
            <nav class="menu">
              <ul class="menu-list">
                <li>
                  <a class="now-n" href="./empresa.html">EMPRESAS</a>
                </li>
                <li><a class="now-n" href="./servicios.html">SERVICIOS</a></li>
                <li><a class="now-n" href="./partner.html">PARTNES</a></li>
                <li><a class="now" href="./energy.html">ENERGY</a></li>
                <li><a class="now-n" href="./blog.html">BLOG</a></li>
                <li><a class="now-n" href="./contacto.html">CONTACTO</a></li>
                <li><a class="now" href="./shop.html">SHOP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!--header responsive-->
      <div class="container-header-responsive">
        <div class="options-responsive" id="menures">
          <div class="container-icon">
            <a href="javascript:displaynone()">
              <img class="menu-abierto-one" src="../img/menu-abierto.png" alt=""
            /></a>
          </div>
          <ul class="list-responsive">
            <div class="idioma-responsive">
              <li><a class="no-a" href="./index.html">Idioma</a></li>

              <select name="language" id=""> </select>
            </div>
            <li><a class="no-a" href="./empresa.html">Empresas</a></li>
            <li><a href="./servicios.html">Servicios</a></li>
            <li><a href="./partner.html">Partnes</a></li>
            <li><a href="./energy.html">Energy</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="./shop.html">Shop</a></li>
          </ul>
        </div>
        <div class="header-responsive">
          <div class="header-responsive-two">
            <a href="javascript:menuresponsive()"
              ><img
                class="menu-abierto"
                src="../img/Icon-Menu-orange.png"
                alt=""
            /></a>
            <img class="img-quero" src="../img/logo footer.png" alt="" />

            <img class="search" src="../img/buscar.png" />
          </div>
        </div>
      </div>
      <hr class="hr">
      <div class="container-nav-text">
 
        <p>QUERO ENERGY</p>
             
             </div>

    </nav>

    <div class="lideres">

      <h1>SOMOS PARTE DE UNA ALIANZA PARA  <br>
        ENTREGARTE ENERGÍA LIMPIA Y EFICIENTE</p>
    <p>
      Estamos continuamente innovando con nuevos productos dirigidos a mejorar la GESTIÓN ELÉCTRICA <br>
      de los clientes
      comercializamos electricidad y gas en toda España.
    </p>
  
     </div>


     <div class="container-energy">
   <div class="energy-one">
 <img  class="img-energy-one"src="../img/Grupo 417.png" alt="">
 <img class="img-energy-one" src="../img/Grupo 601.png" alt="">
   </div>

   <div class="energy-two">
     <h3>FENIE ENERGÍA</h3>
     <p>
      Es la comercializadora creada por el instalador para <br>
       dar servicio cercano y de calidad a sus clientes.  <br>
       Fenie energía ofrece el servicio de gestión de <br>
        cargas para empresas y entornos urbanos que lo deseen.
     </p>
     <img  class="img-energy-two"src="../img/Trazado 2624.png" alt="">
     <!--two-->
     <h3>EFICIENCIA ENERGÉTICA</h3>
     <p>
      Basadas en estudios técnicos personalizados para <br>
      cada cliente (monitorización de consumos y <br>
       propuestas de optimización de los mismos, <br>
        optimización de la tarifa, cambios en la iluminación,<br>
         compensación reactiva
     </p>
     <img  class="img-energy-two" src="../img/Grupo 602.png" alt="">
     <!--three-->
     <h3>MOVILIDAD ELÉCTRICA</h3>
     <p>
      (Instalación de puntos de recarga, servicios de <br>
      recarga, asesoramiento sobre instalaciones de <br>
       puntos de recarga).
     </p>
     

   </div>


     </div>


     <div class="empr-world background-emp">
   
      <div class="empr-world-text ">
       <h2 class="dep-tec">TE OFRECEMOS</h2>
      
      
        <ul>
          <li>
            <img src="../img/list-orange.png" alt="" /> <strong>
            Un ESTUDIO GRATUITO.
  
            </strong>
          </li>
          <li>
            <img src="../img/list-orange.png" alt="" />Un mejor servicio.
          </li>
          <li>
            <img src="../img/list-orange.png" alt="" />Reducir gastos en su factura de LUZ y GAS. 
          </li>
          <li>
            <img src="../img/list-orange.png" alt="" /><strong>Trabajamos tanto en empresas como particulares.</strong>
          </li>
          
        </ul>
      </div>
      <div class="empr-world-text">
     <h3></h3>
       
      <p>Lanzamos continuamente nuevos productos <br>
        dirigidos a mejorar la gestión energética.<br>
         Actualmente comercializamos electricidad y gas <br>
          a todo el territorio nacional, asesoramos a nuestros <br>
          clientes en temas energéticos y proponemos <br>
          soluciones de eficiencia energética, basadas en <br>
          estudios técnicos personalizados para cada cliente.</p>
      
      </div>
  
    </div>

    <div class="container-send">
<div class="send-one">
<h3>¿<strong class="strong-orange">QUIERES MEJORAR</strong> <br>
  TU FACTURA DE GAS <br>
  Y ELECTRICIDAD?
</h3>
<p>Estás a un click de hacerlo.</p>
<div class="button-partner button-margin">
  <button>ENVIAR FACTURA</button>
</div>
</div>

<div class="send-two">
  <iframe  class="iframe-two"width="700" height="315" src="https://www.youtube.com/embed/NyLcszCfLSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

    </div>
    



     <!--catalogo-->
   <div class="container-catalogo">
 <div class="catalogo-img">
<img src="../img/Grupo 589.png" alt="">
 </div>
 <div class="catalogo-text">
<div class="catalogo-text-tittle">
   <p class="cat-tittle">CATÁLOGOS Y ZONA <br>
DE DESCARGA</p>
<p class="cat-text">Descubre todo nuestro portafolio de<br>servicios, repuestos electrónicos de<br>
    automatización nuevos-descatalogados<br>nuevos-actuales y reacondicionados.

</p>
</div>

 </div>
 <div class="catalogo-download">
    <div class="button-download">
        <button>DESCARGAR</button>
    </div>
 </div>



   </div>

   
   <footer class="footer">
    <div class="footer-logo">
      <img class="img-footer-one" src="../img/logo footer.png" alt="" />
      <div class="footer-two">
        <a href=""> <img src="../img/facebook.png" alt=""></a>
        <a href=""> <img src="../img/linked in.png" alt=""></a>
         <a href=""><img src="../img/twitter.png" alt=""></a>
       </div>
      <p>
        QUERO Automation ® 2020 | Repuestos de Automatización Industrial QUERO
        Automation ® no es Distribuidor Oficial ni Representante de los
        fabricantes que aparecen en nuestra web.
      </p>
    </div>
    <div class="footer-menu">
      <div cass="menu-one">
        <a href="../views/empresa.html"><li class="footer-black">EMPRESAS</li></a>
        <a href="../views/servicios.html"><li class="footer-black">SERVICIOS</li></a>
        <li class="footer-black">ALIANZAS</li>
        <a href="../views/energy.html"><li class="footer-black">ENERGIA</li></a>
      </div>
      <div cass="menu-two">
        <a href="../views/contacto.html"><li class="footer-black">CONTACTO</li></a>
        <li class="footer-black">SHOP</li>
        <li class="footer-orange">DESCARGAS</li>
        <a href="./views/blog.html"><li class="footer-orange">BLOG</li></a>
      </div>
    </div>
    <img class="barra" src="../img/barra.png" alt="" />
    <div class="footer-tel">
      <p>
        C/ REGORDOÑO, 13,<br />
        28936 MÓSTOLES - MADRID (ESPAÑA)
      </p>

      <li class="f-tel">TELÉFONOS</li>
      <li>+34 91 685 24 03</li>

      <p class="p-tel">JC-ELECTRONICS@QUEROAUTOMATION.COM</p>
    </div>
  </footer>
<script src="../js/index.js"></script>
  </body>
</html>
