<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quero Automation</title>

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style-empresa.css" />
    <link rel="stylesheet" href="../css/style-servicios.css" />



  </head>
  <body>
    <nav class="header-three">
       
      <div class="container-header">
        <a href="../index.html"><div class="container-header-icono">
          <img src="../img/Logo quero.png" alt="" />
        </div></a>
        <div class="container-menu">
          <div class="container-header-search-and-tel">
            <div class="container-header-barra-busqueda">
              <input type="text" placeholder="Buscar por referencia" />
              <div class="icon-buscar">
                <img src="../img/buscar.png" />
              </div>
            </div>
            <div class="container-header-tel">
              <div class="container-header-tel-one">
                <img src="../img/llamada.png" alt="" />
                <p>+34 916 852 403</p>
              </div>
              <div class="container-header-tel-two">
                <img src="../img/español.png" alt="" />
                <select name="language" id="">
                  <option value="Español">Español</option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-menu-two">
            <nav class="menu">
              <ul class="menu-list">
                <li>
                  <a class="now-n" href="./empresa.html">EMPRESAS</a>
                </li>
                <li><a class="now-n" href="./servicios.html">SERVICIOS</a></li>
                <li><a class="now" href="./partner.html">PARTNES</a></li>
                <li><a class="now-n" href="./energy.html">ENERGY</a></li>
                <li><a class="now-n" href="./blog.html">BLOG</a></li>
                <li><a class="now-n" href="./contacto.html">CONTACTO</a></li>
                <li><a class="now" href="./shop.html">SHOP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!--header responsive-->
      <div class="container-header-responsive">
        <div class="options-responsive" id="menures">
          <div class="container-icon">
            <a href="javascript:displaynone()">
              <img class="menu-abierto-one" src="../img/menu-abierto.png" alt=""
            /></a>
          </div>
          <ul class="list-responsive">
            <div class="idioma-responsive">
              <li><a class="no-a" href="./index.html">Idioma</a></li>

              <select name="language" id=""> </select>
            </div>
            <li><a class="no-a" href="./empresa.html">Empresas</a></li>
            <li><a href="./servicios.html">Servicios</a></li>
            <li><a href="./partner.html">Partnes</a></li>
            <li><a href="./energy.html">Energy</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="./shop.html">Shop</a></li>
          </ul>
        </div>
        <div class="header-responsive">
          <div class="header-responsive-two">
            <a href="javascript:menuresponsive()"
              ><img
                class="menu-abierto"
                src="../img/Icon-Menu-orange.png"
                alt=""
            /></a>
            <img class="img-quero" src="../img/logo footer.png" alt="" />

            <img class="search" src="../img/buscar.png" />
          </div>
        </div>
      </div>
      <hr class="hr">
      <div class="container-nav-text">
 
   <p>PARTNER</p>
        
        </div>


    </nav>

     <div class="lideres">

    <h1>CONOCE NUESTRAS ALIANZAS</p>


   </div>

   
  <div class="empr-world ">
  
    
    <div class="empr-world-img  empr-world-text">
     
        <h3 class="repain">JC-ELECTRONICS</h3>
      
      
      <img src="../img/Grupo 598.png" alt="">
    </div>
    <div class="empr-world-text margin-service-reparacion">
  
      <p>
        Es una multinacional de origen Holandes, líder mundial en repuestos de Electrónica de Automatización Industrial, Con más de 300.000 referencias en Stock de piezas actuales o descatalogadas, para la cual actuamos como delegación oficinal en la zona Iberia (España y Portugal). Esta alianza nos permite ofrecer los servicios de intercambio, reparación o testeos de equipos eléctricos y electrónicos en baja tensión de manera certificada y garantizada
      </p>
      <div class="button-partner button-margin">
        <a style="text-decoration: none;" href="../download/CAT1.docx" download="DOC1"> <button>DESCARGAR CATALOGO</button></a>
      </div>
    </div>

    
  </div>
  <div class="empr-world ">
    <iframe  class="iframe-one" width="560" height="315" src="https://www.youtube.com/embed/IqGHr7YibJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </div>

    <div class="empr-world background-emp">
   
    <div class="empr-world-text ">
     <h2 class="dep-tec">DEPARTAMENTO  <br>
      TECNICO</h2>
    
    
      <ul>
        <li>
          <img src="../img/list-orange.png" alt="" /> <strong>
            Más de 90 técnicos altamente cualificados.

          </strong>
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />Soporte técnico para familias descatalogadas, <br>
           las cuales el fabricante ya no ofrece.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />30.000 M de instalaciones con bancos de <br>
          pruebas diseñados con el protocolo oficial <br> de Siemens. 

        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />Formación interna (JC Academy) para el <br>
           desarrollo de los técnicos para familias  <br>
           descatalogadas.
        </li>
        
      </ul>
    </div>
    <div class="empr-world-text">
      <div class="container-garantia">
        <h2 class="dep-tec">GARANTIA DE <br>
          CALIDAD</h2>
          <img class="jc-one"src="../img/jc-1.png" alt="">
      </div>
     
    <p>Busca nuestro sello de calidad JC en todos nuestros <br>
       productos reparados para asegurarte de que tienes la <br>
        garantía de JC-electronics. Testeado en  nuestras <br>
         instalaciones. <br>
         12 meses de garantía en todos nuestros productos <br>
          ampliable a demanda del cliente.</p>
    
    </div>

  </div>

  <div class="container-install">
   <div class="install">
     <h3>INSTALACIONES</h3>
     <p>

     
     Departamento específico para cada familia <br>
      de producto (s5, s7, simadyn, simodrive, <br>
       HMI, PC, Motores masterdrives…) Desarrollo <br>
        de bancos de pruebas específicos para <br>
        clientes (proyecto de reparación).</p>
   </div>
 <div class="install-two">
   <h3>RESPALDO ALREDEDOR DEL MUNDO</h3>
   <div class="install-two-container">
     <div class="install-two-container-one">
      <li><img src="../img/Rectángulo 365.png" alt=""> JC-Electronics USA</li>
      <li> <img src="../img/Rectángulo 368.png" alt=""> JC-Electronics Reino Unido</li>
      <li> <img src="../img/Rectángulo 377.png" alt=""> JC-Electronics Italia</li>
     </div>
     <div class="install-two-container-two ml">
      <div class="install-two-container-one">
        <li><img src="../img/Rectángulo 374.png" alt=""> JC-Electronics Grupo Quero</li>
        <li> <img src="../img/Rectángulo 370.png" alt=""> JC-Electronics Polonia</li>
        <li> <img src="../img/Rectángulo 372.png" alt=""> JC-Electronics Brasil</li>
       </div>
    </div>
   </div>
 </div>

  </div>



    



     <!--catalogo-->
   <div class="container-catalogo">
 <div class="catalogo-img">
<img src="../img/Grupo 589.png" alt="">
 </div>
 <div class="catalogo-text">
  <div class="catalogo-text-tittle">
    <p class="cat-tittle">
      TENEMOS TU <br />
      REPUESTO
    </p>
    <p class="cat-text">
      Mas de 1 millón de piezas y repuestos <br>
      de las marcas mas reconocidas <br>
      tanto nuevas como obsoletas.
    </p>
  </div>
</div>
 <div class="catalogo-download">
    <div class="button-download">
      <a href="./descargas.html"> <button  >DESCARGAR</button></a>
    </div>
 </div>



   </div>

    
   <footer class="footer">
    <div class="footer-logo">
      <img class="img-footer-one" src="../img/logo footer.png" alt="" />
      <div class="footer-two">
        <a href=""> <img src="../img/facebook.png" alt=""></a>
        <a href=""> <img src="../img/linked in.png" alt=""></a>
         <a href=""><img src="../img/twitter.png" alt=""></a>
       </div>
      <p>
        QUERO Automation ® 2020 | Repuestos de Automatización Industrial QUERO
        Automation ® no es Distribuidor Oficial ni Representante de los
        fabricantes que aparecen en nuestra web.
      </p>
    </div>
    <div class="footer-menu">
      <div cass="menu-one">
        <a href="../views/empresa.html"><li class="footer-black">EMPRESAS</li></a>
        <a href="../views/servicios.html"><li class="footer-black">SERVICIOS</li></a>
        <li class="footer-black">ALIANZAS</li>
        <a href="../views/energy.html"><li class="footer-black">ENERGIA</li></a>
      </div>
      <div cass="menu-two">
        <a href="../views/contacto.html"><li class="footer-black">CONTACTO</li></a>
        <li class="footer-black">SHOP</li>
        <li class="footer-orange">DESCARGAS</li>
        <a href="../views/blog.html"><li class="footer-orange">BLOG</li></a>
      </div>
    </div>
    <img class="barra" src="../img/barra.png" alt="" />
    <div class="footer-tel">
      <p>
        C/ REGORDOÑO, 13,<br />
        28936 MÓSTOLES - MADRID (ESPAÑA)
      </p>

      <li class="f-tel">TELÉFONOS</li>
      <li>+34 91 685 24 03</li>

      <p class="p-tel">JC-ELECTRONICS@QUEROAUTOMATION.COM</p>
    </div>
  </footer>
<script src="../js/index.js"></script>
  </body>
</html>
