<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quero Automation</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style-empresa.css" />
    <link rel="stylesheet" href="../css/style-servicios.css" />
  </head>
  <body>
    <nav class="header-one">
      <div class="container-header">
        <div class="container-header-icono">
          <img src="../img/Logo quero.png" alt="" />
        </div>
        <div class="container-menu">
          <div class="container-header-search-and-tel">
            <div class="container-header-barra-busqueda">
              <input type="text" placeholder="Buscar por referencia" />
              <div class="icon-buscar">
                <img src="../img/buscar.png" />
              </div>
            </div>
            <div class="container-header-tel">
              <div class="container-header-tel-one">
                <img src="../img/llamada.png" alt="" />
                <p>+34 916 852 403</p>
              </div>
              <div class="container-header-tel-two">
                <img src="../img/español.png" alt="" />
                <select name="language" id="">
                  <option value="Español">Español</option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-menu-two">
            <input type="checkbox" id="btn-menu" />
            <label for="btn-menu">
              <img class="menu-abierto" src="../img/menu-abierto.png" alt=""
            /></label>
            <nav class="menu">
              <ul class="menu-list">
                <li><a href="">EMPRESAS</a></li>
                <li><a href="./servicios.html">SERVICIOS</a></li>
                <li><a href="./partner.html">PARTNES</a></li>
                <li><a href="./energy.html">ENERGY</a></li>
                <li><a href="./blog.html">BLOG</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">SHOP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <hr class="hr" />
      <div class="container-nav-text">
        <p>SERVICIOS</p>
      </div>
    </nav>

   <div class="lideres">

    <h1>SOMOS LIDERES EN VENTA <br>
      INTERCAMBIO Y REPARACIÓN
    </h1>
    <p>Encuentra todo lo que necesitas con la mejor <br>
      calidad y mejor precio para tus necesidades en planta.</p>


   </div>

   <div class="empr-world">
   
    <div class="empr-world-text ">
      <h3>VENTA</h3>
     
      <p>
        <strong>Suministro de todo tipo de repuestos de Automatización y control Industrial en Baja y Media Tensión </strong><br> Mas de 20.000 referencias en nuestro stock de piezas nuevas-actuales, nuevas descatalogadas y reacondicionadas testeadas.
      </p>
      <ul>
        <li>
          <img src="../img/list-orange.png" alt="" />Vendemos a
          <strong>más de 100 países</strong>.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />Más de
          <strong>250 empleados en plantilla</strong>, 90 de ellos en el
          <br />
          departamento técnico.
        </li>
        
      </ul>
    </div>
    <div class="empr-world-text ">
      <h3></h3>
      <ul>
         <li><img src="../img/list-orange.png" alt="" /><strong
            >30.000 M2</strong
          >
          a su servicio.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />Trabajamos con las
          <strong>mejores marcas del mercado</strong>.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />Piezas nuevas
          <strong>u obsoletas </strong>.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" /><strong
            >Envíos internacionales</strong
          >
          a cualquier país.
        </li>
      </ul>
      <div class="button-empresa button-margin">
        <button>COMPRAR</button>
      </div>
    </div>
  </div>

  <hr class="hr-emp" />
  <div class="empr-world ">
    
    <div class="empr-world-img  empr-world-text">
     
        <h3 class="repain">REPARACIÓN</h3>
      
      
      <img src="../img/Grupo 300.png" alt="">
    </div>
    <div class="empr-world-text margin-service-reparacion">
  
      <p>
        <strong>Reparamos y reacondicionamos su pieza estropeada de automatización industrial dejándola como nueva para que tenga una segunda vida útil.</strong> <br>
         Nuestro sistema de reparación certificado garantiza que las piezas electrónicas que cree dañadas u obsoletas puedan continuar funcionando como nuevas, dándoles una segunda vida útil, ahorrando dinero durante la compra o cambio de una línea completa y lo mejor de todo, con garantía de hasta 24 meses. Un equipo de ingenieros y especialistas en todo tipo de marcas, averías y reacondicionamiento de piezas Electrónicas de Automatización Industrial.
      </p>
      <div class="button-empresa button-margin">
        <button>COMPRAR</button>
      </div>
    </div>
    
  </div>
  <div class="empr-world background-emp">
    
    <div class="empr-world-img  empr-world-text">
     
        <h3 class="repain">INTERCAMBIO</h3>
        <p class="intercambio-p">Intercambiamos todo tipo de <br>
           piezas de electrónica indistrial  <br>
           de las principales marcas del <br>
            mercado.</p>
    
    </div>
    <div class="empr-world-text margin-service-reparacion">
  
      <p>
        Si tienes una pieza averiada, puede optar por éste servicio e intercambiamos su equipo o pieza por una de la misma referencia 100% funcional, testeada y garantizada. Intercambio de piezas y equipos de automatización y electrónica industrial. Intercambio de equipos nuevos, y de equipos descatalogados.
      </p>
      <div class="button-empresa button-margin">
        <button>INTERCAMBIO</button>
      </div>
    </div>
    
  </div>














    <!--catalogo-->
    <div class="container-catalogo">
      <div class="catalogo-img">
        <img src="../img/Grupo 589.png" alt="" />
      </div>
      <div class="catalogo-text">
        <div class="catalogo-text-tittle">
          <p class="cat-tittle">
            CATÁLOGOS Y ZONA <br />
            DE DESCARGA
          </p>
          <p class="cat-text">
            Descubre todo nuestro portafolio de<br />servicios, repuestos
            electrónicos de<br />
            automatización nuevos-descatalogados<br />nuevos-actuales y
            reacondicionados.
          </p>
        </div>
      </div>
      <div class="catalogo-download">
        <div class="button-download">
          <button>DESCARGAR</button>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-logo">
        <img class="img-footer-one" src="../img/logo footer.png" alt="" />
        <img class="img-footer-two" src="../img/flt.png" alt="" />
        <p>
          QUERO Automation ® 2020 | Repuestos de Automatización Industrial QUERO
          Automation ® no es Distribuidor Oficial ni Representante de los
          fabricantes que aparecen en nuestra web.
        </p>
      </div>
      <div class="footer-menu">
        <div cass="menu-one">
          <li class="footer-black">EMPRESAS</li>
          <li class="footer-black">SERVICIOS</li>
          <li class="footer-black">ALIANZAS</li>
          <li class="footer-black">ENERGIA</li>
        </div>
        <div cass="menu-two">
          <li class="footer-black">CONTACTO</li>
          <li class="footer-black">SHOP</li>
          <li class="footer-orange">DESCARGAS</li>
          <li class="footer-orange">BLOG</li>
        </div>
      </div>
      <img class="barra" src="../img/barra.png" alt="" />
      <div class="footer-tel">
        <p>
          C/ REGORDOÑO, 13,<br />
          28936 MÓSTOLES - MADRID (ESPAÑA)
        </p>

        <li class="f-tel">TELÉFONOS</li>
        <li>+34 91 685 24 03</li>

        <p class="p-tel">JC-ELECTRONICS@QUEROAUTOMATION.COM</p>
      </div>
    </footer>
  </body>
</html>
