<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quero Automation</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style-empresa.css" />
    <link rel="stylesheet" href="../css/style-servicios.css" />
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="header-one">
      <div class="container-header">
        <a href="../index.html"><div class="container-header-icono">
          <img src="../img/Logo quero.png" alt="" />
        </div></a>
        <div class="container-menu">
          <div class="container-header-search-and-tel">
            <div class="container-header-barra-busqueda">
              <input type="text" placeholder="Buscar por referencia" />
              <div class="icon-buscar">
                <img src="../img/buscar.png" />
              </div>
            </div>
            <div class="container-header-tel">
              <div class="container-header-tel-one">
                <img src="../img/llamada.png" alt="" />
                <p>+34 916 852 403</p>
              </div>
              <div class="container-header-tel-two">
                <img src="../img/español.png" alt="" />
                <select name="language" id="">
                  <option value="Español">Español</option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-menu-two">
            <nav class="menu">
              <ul class="menu-list">
                <li>
                  <a class="now-n" href="./empresa.html">EMPRESAS</a>
                </li>
                <li><a class="now" href="./servicios.html">SERVICIOS</a></li>
                <li><a class="now-n" href="./partner.html">PARTNES</a></li>
                <li><a class="now-n" href="./energy.html">ENERGY</a></li>
                <li><a class="now-n" href="./blog.html">BLOG</a></li>
                <li><a class="now-n" href="./contacto.html">CONTACTO</a></li>
                <li><a class="now" href="./shop.html">SHOP</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!--header responsive-->
      <div class="container-header-responsive">
        <div class="options-responsive" id="menures">
          <div class="container-icon">
            <a href="javascript:displaynone()">
              <img class="menu-abierto-one" src="../img/menu-abierto.png" alt=""
            /></a>
          </div>
          <ul class="list-responsive">
            <div class="idioma-responsive">
              <li><a class="no-a" href="./index.html">Idioma</a></li>

              <select name="language" id=""> </select>
            </div>
            <li><a class="no-a" href="./empresa.html">Empresas</a></li>
            <li><a href="./servicios.html">Servicios</a></li>
            <li><a href="./partner.html">Partnes</a></li>
            <li><a href="./energy.html">Energy</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contacto.html">Contacto</a></li>
            <li><a href="./shop.html">Shop</a></li>
          </ul>
        </div>
        <div class="header-responsive">
          <div class="header-responsive-two">
            <a href="javascript:menuresponsive()"
              ><img
                class="menu-abierto"
                src="../img/Icon-Menu-orange.png"
                alt=""
            /></a>
            <img class="img-quero" src="../img/logo footer.png" alt="" />

            <img class="search" src="../img/buscar.png" />
          </div>
        </div>
      </div>
      <hr class="hr" />
      <div class="container-nav-text">
        <p>SERVICIOS</p>
      </div>
    </nav>

   <div class="lideres">

    <h1>SOMOS LIDERES EN VENTA <br>
      INTERCAMBIO Y REPARACIÓN
    </h1>
    <p>Encuentra todo lo que necesitas con la mejor <br>
      calidad y mejor precio para tus necesidades en planta.</p>


   </div>

   <div class="empr-world">
   
    <div class="empr-world-text ">
      <h3>VENTA</h3>
     
      <p class="text-emp-world">
        <strong>Suministro de todo tipo de repuestos de Automatización y control Industrial en Baja y Media Tensión </strong><br> Mas de 20.000 referencias en nuestro stock de piezas nuevas-actuales, nuevas descatalogadas y reacondicionadas testeadas.
      </p>
      <ul>
        <li>
          <img src="../img/list-orange.png" alt="" />Vendemos a
          <strong>más de 100 países</strong>.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />Más de
          <strong>250 empleados en plantilla</strong>, 90 de ellos en el
          <br />
          departamento técnico.
        </li>
        
      </ul>
    </div>
    <div class="empr-world-text margin-serv ">
      <h3></h3>
      <ul>
         <li><img src="../img/list-orange.png" alt="" /><strong
            >30.000 M2</strong
          >
          a su servicio.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />Trabajamos con las
          <strong>mejores marcas del mercado</strong>.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" />Piezas nuevas
          <strong>u obsoletas </strong>.
        </li>
        <li>
          <img src="../img/list-orange.png" alt="" /><strong
            >Envíos internacionales</strong
          >
          a cualquier país.
        </li>
      </ul>
      <div class="button-empresa button-margin">
        <button>COMPRAR</button>
      </div>
    
    </div>
  </div>
  <hr class="hr-emp"/>
  <div class="empr-world ">
  
    
    <div class="empr-world-img ">
     
        <h3 class="repain">REPARACIÓN</h3>
      
      
      <img src="../img/Grupo 300.png" alt="">
    </div>
    <div class="empr-world-text margin-service-reparacion">
  
      <p>
        <strong>Reparamos y reacondicionamos su pieza estropeada de automatización industrial dejándola como nueva para que tenga una segunda vida útil.</strong> 
         Nuestro sistema de reparación certificado garantiza que las piezas electrónicas que cree dañadas u obsoletas puedan continuar funcionando como nuevas, dándoles una segunda vida útil, ahorrando dinero durante la compra o cambio de una línea completa y lo mejor de todo, con garantía de hasta 24 meses. <br>
         Un equipo de ingenieros y especialistas en todo tipo de marcas, averías y reacondicionamiento de piezas Electrónicas de Automatización Industrial.
      </p>
      <div class="button-empresa button-margin">
        <button>REPARAR</button>
      </div>
    </div>
    
  </div>
  <div class="empr-world background-emp">
    
    <div class="empr-world-img ">
     
        <h3 class="repain">INTERCAMBIO</h3>
        <p class="intercambio-p">Intercambiamos todo tipo de <br>
           piezas de electrónica indistrial  <br>
           de las principales marcas del <br>
            mercado.</p>
    
    </div>
    <div class="empr-world-text margin-service-reparacion">
  
      <p>
        Si tienes una pieza averiada, puede optar por éste servicio e intercambiamos su equipo o pieza por una de la misma referencia 100% funcional, testeada y garantizada. Intercambio de piezas y equipos de automatización y electrónica industrial. Intercambio de equipos nuevos, y de equipos descatalogados.
      </p>
      <div class="button-empresa button-margin">
        <button>INTERCAMBIO</button>
      </div>
    </div>
    
  </div>


<!--Fabricantes-->
<div class="carousel-desktop">
  <div class="container-aliados-tittle">
    <p class="ali">FABRICANTES</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fabricantes-img">

    
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>SIEMENS</button>
                </div>
              </div>
            </div>
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>ADD</button>
                </div>
              </div>
            </div>
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>IDNRAMAT</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="container-fabricantes-img">

    
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>ADD</button>
                </div>
              </div>
            </div>
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>SIEMENS</button>
                </div>
              </div>
            </div>
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>IDNRAMAT</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="container-fabricantes-img">

    
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>SIEMENS</button>
                </div>
              </div>
            </div>
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>ADD</button>
                </div>
              </div>
            </div>
            <div class="fabricantes-carrousel">
              <div class="carrousel-one">
                <div class="button-carrousel">
                  <button>IDNRAMAT</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="carousel-responsive">
  <div class="container-aliados-tittle">
    <p class="ali">FABRICANTES</p>
  </div>
  <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fabricantes-img mb-5">

    
          <div class="fabricantes-carrousel">
            <div class="carrousel-one">
              <div class="button-carrousel">
                <button>SIEMENS</button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fabricantes-img mb-5">
          <div class="fabricantes-carrousel">
            <div class="carrousel-one">
              <div class="button-carrousel">
                <button>ADD</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fabricantes-img mb-5">

          <div class="fabricantes-carrousel">
            <div class="carrousel-one">
              <div class="button-carrousel">
                <button>IDNRAMAT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>











    <!--catalogo-->
    <div class="container-catalogo">
      <div class="catalogo-img">
        <img src="../img/Grupo 589.png" alt="" />
      </div>
      <div class="catalogo-text">
        <div class="catalogo-text-tittle">
          <p class="cat-tittle">
            TENEMOS TU <br />
            REPUESTO
          </p>
          <p class="cat-text">
            Mas de 1 millón de piezas y repuestos <br>
            de las marcas mas reconocidas <br>
            tanto nuevas como obsoletas.
          </p>
        </div>
      </div>
      <div class="catalogo-download">
        <div class="button-download">
        <a href="./descargas.html"> <button  >DESCARGAR</button></a>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-logo">
        <img class="img-footer-one" src="../img/logo footer.png" alt="" />
        <div class="footer-two">
          <a href=""> <img src="../img/facebook.png" alt=""></a>
          <a href=""> <img src="../img/linked in.png" alt=""></a>
           <a href=""><img src="../img/twitter.png" alt=""></a>
         </div>
        <p>
          QUERO Automation ® 2020 | Repuestos de Automatización Industrial QUERO
          Automation ® no es Distribuidor Oficial ni Representante de los
          fabricantes que aparecen en nuestra web.
        </p>
      </div>
      <div class="footer-menu">
        <div cass="menu-one">
          <a style="text-decoration:none" href="../views/empresa.html"><li class="footer-black">EMPRESAS</li></a>
          <a style="text-decoration:none" href="../views/servicios.html"><li class="footer-black">SERVICIOS</li></a>
          <li class="footer-black">ALIANZAS</li>
          <a  style="text-decoration:none" href="../views/energy.html"><li class="footer-black">ENERGIA</li></a>
        </div>
        <div cass="menu-two">
          <a  style="text-decoration:none"href="../views/contacto.html"><li class="footer-black">CONTACTO</li></a>
          <li  class="footer-black">SHOP</li>
          <li class="footer-orange">DESCARGAS</li>
          <a  style="text-decoration:none" href="../views/blog.html"><li class="footer-orange">BLOG</li></a>
        </div>
      </div>
      <img class="barra" src="../img/barra.png" alt="" />
      <div class="footer-tel">
        <p>
          C/ REGORDOÑO, 13,<br />
          28936 MÓSTOLES - MADRID (ESPAÑA)
        </p>
  
        <li class="f-tel">TELÉFONOS</li>
        <li>+34 91 685 24 03</li>
  
        <p class="p-tel">JC-ELECTRONICS@QUEROAUTOMATION.COM</p>
      </div>
    </footer>
    <script src="../js/index.js"></script>
  </body>
</html>
